In [1]:
import pandas as pd
import os
import re

In [50]:
def list_filepaths(append_list, file_path = os.getcwd()):
    for thing in os.scandir(file_path):
        if thing.is_dir():
            new_path = os.path.join(file_path, thing.name)
            list_filepaths(append_list, new_path)
        elif thing.is_file:
            append_list.append(f'{file_path}/{thing.name}')
    return append_list

def read_script(file_path):
    word_list = []
    with open(file_path, 'r', encoding='latin-1') as l:
        for line in l:
            if (re.match('^(?!\s*$).+', line) # blank lines
               ) and (re.match('[^\d+]', line) # all digits, i.e. no letters
                     ) and not (re.match('(Downloaded From www.*)', line)
                               ) and not (re.match('(Shared by http:*)', line)):
                line = re.sub('\n|</?i>|</?font.*>|#|-|(|)|"', '', line)
                word_list.append(line)
    return word_list

def combine_then_split(line_dict):
    word_list = []
    for key in line_dict.keys():
        word_list.extend(line_dict[key])
    combo_string = ' '.join(word_list)
    unigram_list = combo_string.split()
    return unigram_list

def frequency_ct(unigram_list):
    freq_dict = {}
    for word in unigram_list:
        if word not in freq_dict:
            freq_dict[word] = 1
        else:
            freq_dict[word] +=1
    return freq_dict

In [66]:
def dict_to_df(freq_dict, gram, corpus):
    if (type(gram)==str) and (type(corpus)==str):
        pass
    else:
        print('gram and corpus variables must be strings')
    freq_colname = corpus+'_frequency'
    df = pd.DataFrame.from_dict(freq_dict, orient='index'
                               ).reset_index().rename(columns={'index':gram, 0:freq_colname}
                                                     ).sort_values(freq_colname, ascending=False)
    return df

In [4]:
authentic_60s = []
list_filepaths(authentic_60s, os.path.join(os.getcwd(), 'homework8', '1960s'))
authentic_60s[:2]

['/Users/julie.fisher/Documents/datascience_diaries/continuing_education/classes/1_cse140/homework8/1960s/The Twilight Zone - 3x17 - One More Pallbearer.srt',
 '/Users/julie.fisher/Documents/datascience_diaries/continuing_education/classes/1_cse140/homework8/1960s/The Twilight Zone - 3x05 - A Game of Pool.srt']

In [5]:
authentic_dict = {}
for i, file_path in enumerate(authentic_60s):
    authentic_dict[i] = read_script(file_path)

In [21]:
authentic_unigrams = combine_then_split(authentic_dict)

In [51]:
authentic_frequency = frequency_ct(authentic_unigrams)

In [67]:
authentic_df = dict_to_df(authentic_frequency, 'unigram', 'authentic')
authentic_df.head()

   unigram  authentic_frequency
26     the                10819
42      to                 8486
48     you                 8478
5        a                 8455
8       of                 6166

In [6]:
imitation_60s = []
list_filepaths(imitation_60s, os.path.join(os.getcwd(), 'homework8', '21st-century'))
imitation_60s[:2]

['/Users/julie.fisher/Documents/datascience_diaries/continuing_education/classes/1_cse140/homework8/21st-century/Pan_Am/Pan.Am.S01E09.srt',
 '/Users/julie.fisher/Documents/datascience_diaries/continuing_education/classes/1_cse140/homework8/21st-century/Pan_Am/Pan.Am.S01E08.srt']

In [7]:
imitation_dict = {}
for i, file_path in enumerate(imitation_60s):
    imitation_dict[i] = read_script(file_path)

In [23]:
imitation_unigrams = combine_then_split(imitation_dict)

In [55]:
imitation_frequency = frequency_ct(imitation_unigrams)

In [68]:
imitation_df = dict_to_df(imitation_frequency, 'unigram', 'imitation')
imitation_df.head()

   unigram  imitation_frequency
5        I                14127
9      the                10520
7       to                10503
16     you                10129
66       a                 8161

In [71]:
df = authentic_df.merge(imitation_df, on='unigram', how='outer').fillna(0)
df.head()

  unigram  authentic_frequency  imitation_frequency
0     the              10819.0              10520.0
1      to               8486.0              10503.0
2     you               8478.0              10129.0
3       a               8455.0               8161.0
4      of               6166.0               4499.0

Your program should print:

- the 50 most frequent words (1-grams) in the test corpus that do not appear in the authentic corpus, and
- the 50 most frequent words (1-grams) in the authentic corpus that do not appear in the test corpus.
- Print the words in order from most to least frequent, or in lexicographic order if they are equally common.

1-grams: Test vs. Authentic
- (('Trudy',), 30)
- (('Heinz',), 22)
- (("Hilton's",), 22)
- ... Insert more data here ...
- (('Jaguar',), 18)

1-grams: Authentic vs. Test
- (('creator',), 58)
- (('unlock',), 58)
- (('Rod',), 29)
- ... Insert more data here ...
- (('santa',), 23)

- www.addic7ed.com
- (
- Sync
- n17t01

In [77]:
# the 50 most frequent words (1-grams) in the test corpus that do not appear in the authentic corpus
df[df['authentic_frequency']==0].sort_values('unigram').sort_values('imitation_frequency', ascending=False).head(50)

                unigram  authentic_frequency  imitation_frequency
33449               âª                  0.0                529.0
33450              Don.                  0.0                191.0
33451               Pan                  0.0                164.0
33452                II                  0.0                117.0
33453          Sterling                  0.0                110.0
33454            Draper                  0.0                106.0
33455                 (                  0.0                104.0
33456           Kennedy                  0.0                 84.0
33457  www.addic7ed.com                  0.0                 74.0
33458              Sync                  0.0                 73.0
33459            Peggy,                  0.0                 69.0
33460            Bobby.                  0.0                 60.0
33461         Campbell.                  0.0                 58.0
33462            Jesus.                  0.0                 57.0
33463             Peggy                  0.0                 53.0
33464             Joan.                  0.0                 52.0
33465            Peggy.                  0.0                 52.0
33466          Campbell                  0.0                 49.0
33467            Bobby,                  0.0                 48.0
33468        Previously                  0.0                 47.0
33470         corrected                  0.0                 46.0
33469             Kate.                  0.0                 46.0
33471              Ohh.                  0.0                 45.0
33472               Am.                  0.0                 43.0
33474             Bobby                  0.0                 41.0
33473             Dean.                  0.0                 41.0
33475            client                  0.0                 41.0
33476             Megan                  0.0                 40.0
33477            n17t01                  0.0                 37.0
33478             Don's                  0.0                 37.0
33479               Mad                  0.0                 36.0
33480             Harry                  0.0                 36.0
33481            Sally,                  0.0                 35.0
33484              Lane                  0.0                 34.0
33483            Betty,                  0.0                 34.0
33482             Betty                  0.0                 34.0
33486           London.                  0.0                 33.0
33485          Colette.                  0.0                 33.0
33487           Draper?                  0.0                 33.0
33488            Maggie                  0.0                 32.0
33489            London                  0.0                 32.0
33490            Donald                  0.0                 32.0
33493           Maggie.                  0.0                 30.0
33492          Kennedy,                  0.0                 30.0
33491              Jane                  0.0                 30.0
33494              Duck                  0.0                 30.0
33498            Sally.                  0.0                 29.0
33495             Nixon                  0.0                 29.0
33496         Campbell,                  0.0                 29.0
33497            Mohawk                  0.0                 29.0

In [79]:
# the 50 most frequent words (1-grams) in the authentic corpus that do not appear in the test corpus
df[df['imitation_frequency']==0].sort_values('unigram', key=lambda col: col.str.lower()).sort_values('authentic_frequency', ascending=False).head(50)

            unigram  authentic_frequency  imitation_frequency
151       dimension                340.0                  0.0
188            i've                259.0                  0.0
338            i...                139.0                  0.0
405          sound,                111.0                  0.0
433           zone,                 98.0                  0.0
483        Serling.                 85.0                  0.0
576        wondrous                 70.0                  0.0
638            Amen                 62.0                  0.0
701             Rod                 55.0                  0.0
700        serling,                 55.0                  0.0
819              i,                 45.0                  0.0
827       stations.                 45.0                  0.0
847           ofthe                 44.0                  0.0
898           onthe                 41.0                  0.0
926             god                 39.0                  0.0
1006          james                 35.0                  0.0
1036        george.                 34.0                  0.0
1103      alternate                 32.0                  0.0
1264           york                 27.0                  0.0
1306          Amen,                 26.0                  0.0
1329            Vip                 25.0                  0.0
1339       signpost                 25.0                  0.0
1377  Feathersmith.                 24.0                  0.0
1369     Sheldrake.                 24.0                  0.0
1386         Eddie.                 24.0                  0.0
1405        Frisby.                 24.0                  0.0
1438           tale                 23.0                  0.0
1432           Vip.                 23.0                  0.0
1456          santa                 23.0                  0.0
1437       Webster.                 23.0                  0.0
1476        Webster                 22.0                  0.0
1472       colonel.                 22.0                  0.0
1484        Frisby,                 22.0                  0.0
1502       Vollmer.                 22.0                  0.0
1497           john                 22.0                  0.0
1516          Fran.                 22.0                  0.0
1504           amen                 22.0                  0.0
1573       Kubelik.                 21.0                  0.0
1578          alan,                 21.0                  0.0
1550     commander.                 21.0                  0.0
1538          pete.                 21.0                  0.0
1593         jerry.                 21.0                  0.0
1556        jackie.                 21.0                  0.0
1535            dr.                 21.0                  0.0
1601  Feathersmith,                 20.0                  0.0
1658           ten.                 20.0                  0.0
1617           Fats                 20.0                  0.0
1664        frisby.                 20.0                  0.0
1665         billy.                 20.0                  0.0
1683     ontwilight                 19.0                  0.0

Augment your program so that it computes, for each word in each corpus, that word's normalized frequency. The normalized frequency of a word is equal to the number of times the word occurs in a corpus, divided by the total number of words in the corpus (including duplicate words). For example, in a corpus of 10,000 words, if a word appears 42 times, its normalized frequency would be .0042.

Now, for each word that appears in both corpora, compute the ratio of its test-corpus normalized frequency to its authentic-corpus normalized frequency. Use this ratio to rank 1-grams, much like you did for frequency earlier.

For example, suppose the word "Dog" appears 20 times in the test corpus of 1000 words, and 250 times in the authentic corpus of 10000. The test-corpus normalized frequency of "Dog" is 20/1000, or 0.02. The authentic-corpus normalized frequency of "Dog" is 250/10000, or 0.025. The ratio of test-corpus normalized frequency to authentic-corpus normalized frequency is 0.02/0.025, which equals 0.8.

In [84]:
auth_count = df['authentic_frequency'].sum()
imitation_count = df['imitation_frequency'].sum()
df['authentic_norm_freq'] = df['authentic_frequency']/auth_count
df['imitation_norm_freq'] = df['imitation_frequency']/imitation_count
df

,unigram,authentic_frequency,imitation_frequency,authentic_norm_freq,imitation_norm_freq,norm_freq_ratio
0,the,10819.0,10520.0,0.029926,0.026366,0.881038
1,to,8486.0,10503.0,0.023473,0.026323,1.121440
2,you,8478.0,10129.0,0.023450,0.025386,1.082527
3,a,8455.0,8161.0,0.023387,0.020453,0.874572
4,of,6166.0,4499.0,0.017055,0.011276,0.661117
...,...,...,...,...,...,...
52666,12%.,0.0,1.0,0.000000,0.000003,inf
52667,203,0.0,1.0,0.000000,0.000003,inf
52668,chattel.,0.0,1.0,0.000000,0.000003,inf
52669,"useless,",0.0,1.0,0.000000,0.000003,inf
52670,trollop.,0.0,1.0,0.000000,0.000003,inf

In [85]:
# df['norm_freq_ratio'] = df['imitation_norm_freq']/df['authentic_norm_freq']

df['norm_freq_ratio'] = df.loc[(df['imitation_norm_freq'] != 0
                               ) & (df['authentic_norm_freq'] != 0), 'imitation_norm_freq'
                              ]/df.loc[(df['imitation_norm_freq'] != 0
                                       ) & (df['authentic_norm_freq'] != 0), 'authentic_norm_freq']

In [87]:
df.sort_values('norm_freq_ratio', ascending=False).head(50)

,unigram,authentic_frequency,imitation_frequency,authentic_norm_freq,imitation_norm_freq,norm_freq_ratio
30060,God.,1.0,93.0,0.000003,0.000233,84.265291
25016,Roger,1.0,93.0,0.000003,0.000233,84.265291
8381,Don,3.0,186.0,0.000008,0.000466,56.176861
20432,Don?,1.0,56.0,0.000003,0.000140,50.740390
23503,Sally,1.0,52.0,0.000003,0.000130,47.116077
30000,Kennedy.,1.0,46.0,0.000003,0.000115,41.679606
31716,Lucky,1.0,46.0,0.000003,0.000115,41.679606
24144,Betty.,1.0,46.0,0.000003,0.000115,41.679606
9067,American,3.0,133.0,0.000008,0.000333,40.169476
24288,Joe.,1.0,41.0,0.000003,0.000103,37.149214
29183,Joan,1.0,41.0,0.000003,0.000103,37.149214
27774,Pete,1.0,39.0,0.000003,0.000098,35.337058
32274,Jimmy,1.0,39.0,0.000003,0.000098,35.337058
7788,),3.0,104.0,0.000008,0.000261,31.410718
19259,TV,1.0,34.0,0.000003,0.000085,30.806666
12165,"Draper,",2.0,62.0,0.000006,0.000155,28.088430
6423,Draper.,4.0,117.0,0.000011,0.000293,26.502793
22713,Lee,1.0,28.0,0.000003,0.000070,25.370195
22621,Daddy!,1.0,28.0,0.000003,0.000070,25.370195
11638,meeting.,2.0,55.0,0.000006,0.000138,24.917156
32394,dad,1.0,26.0,0.000003,0.000065,23.558038
22983,stewardess.,1.0,25.0,0.000003,0.000063,22.651960
22622,Daddy.,1.0,25.0,0.000003,0.000063,22.651960
28293,World,1.0,25.0,0.000003,0.000063,22.651960
30078,(Sighs),1.0,24.0,0.000003,0.000060,21.745882
6966,Cooper,4.0,96.0,0.000011,0.000241,21.745882
30040,Monday,1.0,24.0,0.000003,0.000060,21.745882
30026,Cuba.,1.0,24.0,0.000003,0.000060,21.745882
4717,"Don,",6.0,143.0,0.000017,0.000358,21.594869
17732,actually.,1.0,23.0,0.000003,0.000058,20.839803
23778,Laura,1.0,23.0,0.000003,0.000058,20.839803
19229,campaign.,1.0,22.0,0.000003,0.000055,19.933725
32850,Henry.,1.0,22.0,0.000003,0.000055,19.933725
12201,York.,2.0,43.0,0.000006,0.000108,19.480686
19153,TV.,1.0,21.0,0.000003,0.000053,19.027646
16077,Calm,1.0,21.0,0.000003,0.000053,19.027646
10418,"Jesus,",2.0,41.0,0.000006,0.000103,18.574607
17549,"Honestly,",1.0,20.0,0.000003,0.000050,18.121568
28196,States,1.0,20.0,0.000003,0.000050,18.121568
31511,Don't.,1.0,20.0,0.000003,0.000050,18.121568
27500,Howard,1.0,20.0,0.000003,0.000050,18.121568
27075,Men...,1.0,19.0,0.000003,0.000048,17.215490
22377,Sunday.,1.0,18.0,0.000003,0.000045,16.309411
30524,Turns,1.0,18.0,0.000003,0.000045,16.309411
32219,Jim,1.0,18.0,0.000003,0.000045,16.309411
18520,Father.,1.0,18.0,0.000003,0.000045,16.309411
32259,Washington,1.0,18.0,0.000003,0.000045,16.309411
27758,Women,1.0,18.0,0.000003,0.000045,16.309411
16491,1,1.0,18.0,0.000003,0.000045,16.309411
10880,Soviet,2.0,36.0,0.000006,0.000090,16.309411

In [88]:
df.sort_values('norm_freq_ratio').head(50)

,unigram,authentic_frequency,imitation_frequency,authentic_norm_freq,imitation_norm_freq,norm_freq_ratio
7,i,4450.0,4.0,0.012309,0.000010,0.000814
145,i'll,355.0,1.0,0.000982,0.000003,0.002552
147,zone.,354.0,1.0,0.000979,0.000003,0.002560
113,twilight,481.0,2.0,0.001330,0.000005,0.003767
58,i'm,819.0,7.0,0.002265,0.000018,0.007744
294,i'd,162.0,2.0,0.000448,0.000005,0.011186
304,?,157.0,2.0,0.000434,0.000005,0.011542
544,journey,73.0,1.0,0.000202,0.000003,0.012412
593,sight,68.0,1.0,0.000188,0.000003,0.013325
658,boundaries,60.0,1.0,0.000166,0.000003,0.015101
675,Beyond,58.0,1.0,0.000160,0.000003,0.015622
695,creator,56.0,1.0,0.000155,0.000003,0.016180
693,unlock,56.0,1.0,0.000155,0.000003,0.016180
705,"substance,",55.0,1.0,0.000152,0.000003,0.016474
732,"sight,",52.0,1.0,0.000144,0.000003,0.017425
816,american,45.0,1.0,0.000124,0.000003,0.020135
887,i?,42.0,1.0,0.000116,0.000003,0.021573
40,mr.,1111.0,27.0,0.003073,0.000068,0.022020
373,imagination.,126.0,4.0,0.000349,0.000010,0.028764
1183,eh?,29.0,1.0,0.000080,0.000003,0.031244
354,mrs.,132.0,5.0,0.000365,0.000013,0.034321
1326,lieutenant.,25.0,1.0,0.000069,0.000003,0.036243
1391,planet,24.0,1.0,0.000066,0.000003,0.037753
1375,"Man,",24.0,1.0,0.000066,0.000003,0.037753
1479,radar,22.0,1.0,0.000061,0.000003,0.041185
617,week's,65.0,3.0,0.000180,0.000008,0.041819
1735,live.,19.0,1.0,0.000053,0.000003,0.047688
1791,colonel,18.0,1.0,0.000050,0.000003,0.050338
1747,item,18.0,1.0,0.000050,0.000003,0.050338
1749,"indeed,",18.0,1.0,0.000050,0.000003,0.050338
1785,world's,18.0,1.0,0.000050,0.000003,0.050338
733,zone,52.0,3.0,0.000144,0.000008,0.052274
1841,access.,17.0,1.0,0.000047,0.000003,0.053299
1892,mustn't,17.0,1.0,0.000047,0.000003,0.053299
1038,sponsor.,34.0,2.0,0.000094,0.000005,0.053299
1812,reckon,17.0,1.0,0.000047,0.000003,0.053299
1854,Twilight,17.0,1.0,0.000047,0.000003,0.053299
1847,equipment,17.0,1.0,0.000047,0.000003,0.053299
1894,Li,17.0,1.0,0.000047,0.000003,0.053299
1961,"Horace,",16.0,1.0,0.000044,0.000003,0.056630
1956,doll,16.0,1.0,0.000044,0.000003,0.056630
1922,"ship,",16.0,1.0,0.000044,0.000003,0.056630
1918,Tonight's,16.0,1.0,0.000044,0.000003,0.056630
1949,obsolete.,16.0,1.0,0.000044,0.000003,0.056630
1910,devil.,16.0,1.0,0.000044,0.000003,0.056630
1927,toy,16.0,1.0,0.000044,0.000003,0.056630
809,built,46.0,3.0,0.000127,0.000008,0.059092
2035,doll.,15.0,1.0,0.000041,0.000003,0.060405
654,shadow,60.0,4.0,0.000166,0.000010,0.060405
2093,mental,15.0,1.0,0.000041,0.000003,0.060405

## Bigrams

Bigrams do not span between files. For example, if file1.srt ends with the line “The End.”, and file2.srt begins with the line “Hello World!”, the bigram ('End.', 'Hello') should not be included in your analysis.
Bigrams span between subtitle text lines in the same file. For example, the subtitle text lines 'This is not an exercise.' and 'Not an exercise?' appear one after the other in the file Dr.Strangelove.srt. The bigram spanning these lines, ('exercise.', 'Not'), should be included in your analysis.
Your program should discard every bigram that contains a word that appears in only one corpus.

### Caveat

I won't be coding this out. Instead, I'm going to do more sophisticated data processing, use the uni/bi/trigram processing available through a library like nltk, and look at the more interesting results (which will have punctuation removed - "Daddy!" and "Daddy." will be counted as the same word, will be case insensitive - "Daddy" and "daddy" will be the same, and will have stop words removed - "the", "a", "for", etc)

If I were to do the bigrams here is how I'd code it:

1. Make a list of the words that don't appear in one corpus or the other from the unigram analysis
2. Process the data with the list_filepaths and read_script functions
3. Alter the combine_then_split function to:
    - combine the words from a single script
    - remove any words from the list in step 1
    - split word list into unigrams
    - Use a for loop and enumerate() to go through the list by index and join the index-word and the word after it. Example: "The brown dog wore red" -> "The brown", "brown dog", "dog wore", "wore red"
    - put all pairs into a list so that the output of combine_then_split is a bigram_list
4. Process the bigram_list with frequency_ct
5. All further steps would be the same as those used for the unigram analysis