In [2]:
# !pip install pyspark

# in terminal go to spark directory: /Users/my_name/spark-3.0.3-bin-hadoop2.7
# sudo hostname -s 127.0.0.1
# ./bin/pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
import pyspark
import numpy as np
import pandas as pd

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
df = spark.read.csv('Fish.csv', sep=',', inferSchema = True, header = True)

In [ ]:
# import pyspark.sql.types as tp

# new_schema = tp.StructType([
#     tp.StructField(name='Species', dataType=tp.StringType(), nullable=True),
#     tp.StructField(name='Weight', dataType=tp.DoubleType(), nullable=True),
#     tp.StructField(name='Length1', dataType=tp.DoubleType(), nullable=True),
#     tp.StructField(name='Length2', dataType=tp.DoubleType(), nullable=True),
#     tp.StructField(name='Length3', dataType=tp.DoubleType(), nullable=True),
#     tp.StructField(name='Height', dataType=tp.DoubleType(), nullable=True),
#     tp.StructField(name='Width', dataType=tp.DoubleType(), nullable=True),
#     tp.StructField(name='weight_kg', dataType=tp.DoubleType(), nullable=True)
# ])

# df = spark.read.csv('Fish.csv', sep=',', schema = new_schema, header = True)

In [6]:
pd_df = pd.read_csv('Fish.csv')

### Display data

In [14]:
# Display sample of data
df.show()
# df.show(truncate=False)

+-------+------+-------+-------+-------+-------+------+
|Species|Weight|Length1|Length2|Length3| Height| Width|
+-------+------+-------+-------+-------+-------+------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|
|  Bream| 450.0|   26.8|   29.7|   34.7|13.6024|4.9274|
|  Bream| 500.0|   26.8|   29.7|   34.5|14.1795|5.2785|
|  Bream| 390.0|   27.6|   30.0|   35.0|  12.67|  4.69|
|  Bream| 450.0|   27.6|   30.0|   35.1|14.0049|4.8438|
|  Bream| 500.0|   28.5|   30.7|   36.2|14.2266|4.9594|
|  Bream| 475.0|   28.4|   31.0|   36.2|14.2628|5.1042|
|  Bream| 500.0|   28.7|   31.0|   36.2|14.3714|4.8146|
|  Bream| 500.0|   29.1|   31.5|   36.4|13.7592| 4.368|
|  Bream| 340.0|   29.5|   32.0|   37.3|13.9129|5.0728|
|  Bream| 600.0|   29.4|   32.0|   37.2|14.9544|5.1708|
|  Bream| 600.0|   29.4|   32.0|   37.2| 15.438|  5.58|
|  Bream| 700.0|   30.4|   33.0|   38.3|14.8604|5.2854|
|  Bream| 700.0|   30.4|   33.0|   38.5| 14.938|5.1975|
|  Bream| 610.0|   30.9|   33.5|   38.6| 15.633|5.1338|
|  Bream| 650.0|   31.0|   33.5|   38.7|14.4738|5.7276|
+-------+------+-------+-------+-------+-------+------+
only showing top 20 rows

In [27]:
pd_df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [15]:
# show() prints to screen
df.show(5)

+-------+------+-------+-------+-------+-------+------+
|Species|Weight|Length1|Length2|Length3| Height| Width|
+-------+------+-------+-------+-------+-------+------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|
+-------+------+-------+-------+-------+-------+------+
only showing top 5 rows

In [39]:
# take() returns a list of rows, which can be used to create a new dataframe
df.take(5)

[Row(Species='Bream', Weight=242.0, Length1=23.2, Length2=25.4, Length3=30.0, Height=11.52, Width=4.02, weight_kg=0.242),
 Row(Species='Bream', Weight=290.0, Length1=24.0, Length2=26.3, Length3=31.2, Height=12.48, Width=4.3056, weight_kg=0.29),
 Row(Species='Bream', Weight=340.0, Length1=23.9, Length2=26.5, Length3=31.1, Height=12.3778, Width=4.6961, weight_kg=0.34),
 Row(Species='Bream', Weight=363.0, Length1=26.3, Length2=29.0, Length3=33.5, Height=12.73, Width=4.4555, weight_kg=0.363),
 Row(Species='Bream', Weight=430.0, Length1=26.5, Length2=29.0, Length3=34.0, Height=12.444, Width=5.134, weight_kg=0.43)]

In [146]:
df.head(5)

[Row(Species='Bream', Weight=242.0, Length1=23.2, Length2=25.4, Length3=30.0, Height=11.52, Width=4.02, weight_kg=0.242),
 Row(Species='Bream', Weight=290.0, Length1=24.0, Length2=26.3, Length3=31.2, Height=12.48, Width=4.3056, weight_kg=0.29),
 Row(Species='Bream', Weight=340.0, Length1=23.9, Length2=26.5, Length3=31.1, Height=12.3778, Width=4.6961, weight_kg=0.34),
 Row(Species='Bream', Weight=363.0, Length1=26.3, Length2=29.0, Length3=33.5, Height=12.73, Width=4.4555, weight_kg=0.363),
 Row(Species='Bream', Weight=430.0, Length1=26.5, Length2=29.0, Length3=34.0, Height=12.444, Width=5.134, weight_kg=0.43)]

In [34]:
pd_df

    Species  Weight  Length1  Length2  Length3   Height   Width  weight_kg
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200     0.2420
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056     0.2900
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961     0.3400
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555     0.3630
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340     0.4300
..      ...     ...      ...      ...      ...      ...     ...        ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936     0.0122
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690     0.0134
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558     0.0122
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672     0.0197
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792     0.0199

[159 rows x 8 columns]

In [22]:
df.collect()

[Row(Species='Bream', Weight=242.0, Length1=23.2, Length2=25.4, Length3=30.0, Height=11.52, Width=4.02, weight_kg=0.242),
 Row(Species='Bream', Weight=290.0, Length1=24.0, Length2=26.3, Length3=31.2, Height=12.48, Width=4.3056, weight_kg=0.29),
 Row(Species='Bream', Weight=340.0, Length1=23.9, Length2=26.5, Length3=31.1, Height=12.3778, Width=4.6961, weight_kg=0.34),
 Row(Species='Bream', Weight=363.0, Length1=26.3, Length2=29.0, Length3=33.5, Height=12.73, Width=4.4555, weight_kg=0.363),
 Row(Species='Bream', Weight=430.0, Length1=26.5, Length2=29.0, Length3=34.0, Height=12.444, Width=5.134, weight_kg=0.43),
 Row(Species='Bream', Weight=450.0, Length1=26.8, Length2=29.7, Length3=34.7, Height=13.6024, Width=4.9274, weight_kg=0.45),
 Row(Species='Bream', Weight=500.0, Length1=26.8, Length2=29.7, Length3=34.5, Height=14.1795, Width=5.2785, weight_kg=0.5),
 Row(Species='Bream', Weight=390.0, Length1=27.6, Length2=30.0, Length3=35.0, Height=12.67, Width=4.69, weight_kg=0.39),
 Row(Species='Bream', Weight=450.0, Length1=27.6, Length2=30.0, Length3=35.1, Height=14.0049, Width=4.8438, weight_kg=0.45),
 Row(Species='Bream', Weight=500.0, Length1=28.5, Length2=30.7, Length3=36.2, Height=14.2266, Width=4.9594, weight_kg=0.5),
 Row(Species='Bream', Weight=475.0, Length1=28.4, Length2=31.0, Length3=36.2, Height=14.2628, Width=5.1042, weight_kg=0.475),
 Row(Species='Bream', Weight=500.0, Length1=28.7, Length2=31.0, Length3=36.2, Height=14.3714, Width=4.8146, weight_kg=0.5),
 Row(Species='Bream', Weight=500.0, Length1=29.1, Length2=31.5, Length3=36.4, Height=13.7592, Width=4.368, weight_kg=0.5),
 Row(Species='Bream', Weight=340.0, Length1=29.5, Length2=32.0, Length3=37.3, Height=13.9129, Width=5.0728, weight_kg=0.34),
 Row(Species='Bream', Weight=600.0, Length1=29.4, Length2=32.0, Length3=37.2, Height=14.9544, Width=5.1708, weight_kg=0.6),
 Row(Species='Bream', Weight=600.0, Length1=29.4, Length2=32.0, Length3=37.2, Height=15.438, Width=5.58, weight_kg=0.6),
 Row(Species='Bream', Weight=700.0, Length1=30.4, Length2=33.0, Length3=38.3, Height=14.8604, Width=5.2854, weight_kg=0.7),
 Row(Species='Bream', Weight=700.0, Length1=30.4, Length2=33.0, Length3=38.5, Height=14.938, Width=5.1975, weight_kg=0.7),
 Row(Species='Bream', Weight=610.0, Length1=30.9, Length2=33.5, Length3=38.6, Height=15.633, Width=5.1338, weight_kg=0.61),
 Row(Species='Bream', Weight=650.0, Length1=31.0, Length2=33.5, Length3=38.7, Height=14.4738, Width=5.7276, weight_kg=0.65),
 Row(Species='Bream', Weight=575.0, Length1=31.3, Length2=34.0, Length3=39.5, Height=15.1285, Width=5.5695, weight_kg=0.575),
 Row(Species='Bream', Weight=685.0, Length1=31.4, Length2=34.0, Length3=39.2, Height=15.9936, Width=5.3704, weight_kg=0.685),
 Row(Species='Bream', Weight=620.0, Length1=31.5, Length2=34.5, Length3=39.7, Height=15.5227, Width=5.2801, weight_kg=0.62),
 Row(Species='Bream', Weight=680.0, Length1=31.8, Length2=35.0, Length3=40.6, Height=15.4686, Width=6.1306, weight_kg=0.68),
 Row(Species='Bream', Weight=700.0, Length1=31.9, Length2=35.0, Length3=40.5, Height=16.2405, Width=5.589, weight_kg=0.7),
 Row(Species='Bream', Weight=725.0, Length1=31.8, Length2=35.0, Length3=40.9, Height=16.36, Width=6.0532, weight_kg=0.725),
 Row(Species='Bream', Weight=720.0, Length1=32.0, Length2=35.0, Length3=40.6, Height=16.3618, Width=6.09, weight_kg=0.72),
 Row(Species='Bream', Weight=714.0, Length1=32.7, Length2=36.0, Length3=41.5, Height=16.517, Width=5.8515, weight_kg=0.714),
 Row(Species='Bream', Weight=850.0, Length1=32.8, Length2=36.0, Length3=41.6, Height=16.8896, Width=6.1984, weight_kg=0.85),
 Row(Species='Bream', Weight=1000.0, Length1=33.5, Length2=37.0, Length3=42.6, Height=18.957, Width=6.603, weight_kg=1.0),
 Row(Species='Bream', Weight=920.0, Length1=35.0, Length2=38.5, Length3=44.1, Height=18.0369, Width=6.3063, weight_kg=0.92),
 Row(Species='Bream', Weight=955.0, Length1=35.0, Length2=38.5, Length3=44.0, Height=18.084, Width=6.292, weight_kg=0.955),
 Row(Species='Bream', Weight=925.0, Length1=36.2, Length2=39.5, Length3=45.3, Height=18.7542, Width=6.7497, weight_kg=0.925),
 Row(Species='Bream', Weight=975.0, Length1=37.4, Length2=41.0, Length3=45.9, Height=18.6354, Width=6.7473, weight_kg=0.975),
 Row(Species='Bream', Weight=950.0, Length1=38.0, Length2=41.0, Length3=46.5, Height=17.6235, Width=6.3705, weight_kg=0.95),
 Row(Species='Roach', Weight=40.0, Length1=12.9, Length2=14.1, Length3=16.2, Height=4.1472, Width=2.268, weight_kg=0.04),
 Row(Species='Roach', Weight=69.0, Length1=16.5, Length2=18.2, Length3=20.3, Height=5.2983, Width=2.8217, weight_kg=0.069),
 Row(Species='Roach', Weight=78.0, Length1=17.5, Length2=18.8, Length3=21.2, Height=5.5756, Width=2.9044, weight_kg=0.078),
 Row(Species='Roach', Weight=87.0, Length1=18.2, Length2=19.8, Length3=22.2, Height=5.6166, Width=3.1746, weight_kg=0.087),
 Row(Species='Roach', Weight=120.0, Length1=18.6, Length2=20.0, Length3=22.2, Height=6.216, Width=3.5742, weight_kg=0.12),
 Row(Species='Roach', Weight=0.0, Length1=19.0, Length2=20.5, Length3=22.8, Height=6.4752, Width=3.3516, weight_kg=0.0),
 Row(Species='Roach', Weight=110.0, Length1=19.1, Length2=20.8, Length3=23.1, Height=6.1677, Width=3.3957, weight_kg=0.11),
 Row(Species='Roach', Weight=120.0, Length1=19.4, Length2=21.0, Length3=23.7, Height=6.1146, Width=3.2943, weight_kg=0.12),
 Row(Species='Roach', Weight=150.0, Length1=20.4, Length2=22.0, Length3=24.7, Height=5.8045, Width=3.7544, weight_kg=0.15),
 Row(Species='Roach', Weight=145.0, Length1=20.5, Length2=22.0, Length3=24.3, Height=6.6339, Width=3.5478, weight_kg=0.145),
 Row(Species='Roach', Weight=160.0, Length1=20.5, Length2=22.5, Length3=25.3, Height=7.0334, Width=3.8203, weight_kg=0.16),
 Row(Species='Roach', Weight=140.0, Length1=21.0, Length2=22.5, Length3=25.0, Height=6.55, Width=3.325, weight_kg=0.14),
 Row(Species='Roach', Weight=160.0, Length1=21.1, Length2=22.5, Length3=25.0, Height=6.4, Width=3.8, weight_kg=0.16),
 Row(Species='Roach', Weight=169.0, Length1=22.0, Length2=24.0, Length3=27.2, Height=7.5344, Width=3.8352, weight_kg=0.169),
 Row(Species='Roach', Weight=161.0, Length1=22.0, Length2=23.4, Length3=26.7, Height=6.9153, Width=3.6312, weight_kg=0.161),
 Row(Species='Roach', Weight=200.0, Length1=22.1, Length2=23.5, Length3=26.8, Height=7.3968, Width=4.1272, weight_kg=0.2),
 Row(Species='Roach', Weight=180.0, Length1=23.6, Length2=25.2, Length3=27.9, Height=7.0866, Width=3.906, weight_kg=0.18),
 Row(Species='Roach', Weight=290.0, Length1=24.0, Length2=26.0, Length3=29.2, Height=8.8768, Width=4.4968, weight_kg=0.29),
 Row(Species='Roach', Weight=272.0, Length1=25.0, Length2=27.0, Length3=30.6, Height=8.568, Width=4.7736, weight_kg=0.272),
 Row(Species='Roach', Weight=390.0, Length1=29.5, Length2=31.7, Length3=35.0, Height=9.485, Width=5.355, weight_kg=0.39),
 Row(Species='Whitefish', Weight=270.0, Length1=23.6, Length2=26.0, Length3=28.7, Height=8.3804, Width=4.2476, weight_kg=0.27),
 Row(Species='Whitefish', Weight=270.0, Length1=24.1, Length2=26.5, Length3=29.3, Height=8.1454, Width=4.2485, weight_kg=0.27),
 Row(Species='Whitefish', Weight=306.0, Length1=25.6, Length2=28.0, Length3=30.8, Height=8.778, Width=4.6816, weight_kg=0.306),
 Row(Species='Whitefish', Weight=540.0, Length1=28.5, Length2=31.0, Length3=34.0, Height=10.744, Width=6.562, weight_kg=0.54),
 Row(Species='Whitefish', Weight=800.0, Length1=33.7, Length2=36.4, Length3=39.6, Height=11.7612, Width=6.5736, weight_kg=0.8),
 Row(Species='Whitefish', Weight=1000.0, Length1=37.3, Length2=40.0, Length3=43.5, Height=12.354, Width=6.525, weight_kg=1.0),
 Row(Species='Parkki', Weight=55.0, Length1=13.5, Length2=14.7, Length3=16.5, Height=6.8475, Width=2.3265, weight_kg=0.055),
 Row(Species='Parkki', Weight=60.0, Length1=14.3, Length2=15.5, Length3=17.4, Height=6.5772, Width=2.3142, weight_kg=0.06),
 Row(Species='Parkki', Weight=90.0, Length1=16.3, Length2=17.7, Length3=19.8, Height=7.4052, Width=2.673, weight_kg=0.09),
 Row(Species='Parkki', Weight=120.0, Length1=17.5, Length2=19.0, Length3=21.3, Height=8.3922, Width=2.9181, weight_kg=0.12),
 Row(Species='Parkki', Weight=150.0, Length1=18.4, Length2=20.0, Length3=22.4, Height=8.8928, Width=3.2928, weight_kg=0.15),
 Row(Species='Parkki', Weight=140.0, Length1=19.0, Length2=20.7, Length3=23.2, Height=8.5376, Width=3.2944, weight_kg=0.14),
 Row(Species='Parkki', Weight=170.0, Length1=19.0, Length2=20.7, Length3=23.2, Height=9.396, Width=3.4104, weight_kg=0.17),
 Row(Species='Parkki', Weight=145.0, Length1=19.8, Length2=21.5, Length3=24.1, Height=9.7364, Width=3.1571, weight_kg=0.145),
 Row(Species='Parkki', Weight=200.0, Length1=21.2, Length2=23.0, Length3=25.8, Height=10.3458, Width=3.6636, weight_kg=0.2),
 Row(Species='Parkki', Weight=273.0, Length1=23.0, Length2=25.0, Length3=28.0, Height=11.088, Width=4.144, weight_kg=0.273),
 Row(Species='Parkki', Weight=300.0, Length1=24.0, Length2=26.0, Length3=29.0, Height=11.368, Width=4.234, weight_kg=0.3),
 Row(Species='Perch', Weight=5.9, Length1=7.5, Length2=8.4, Length3=8.8, Height=2.112, Width=1.408, weight_kg=0.005900000000000001),
 Row(Species='Perch', Weight=32.0, Length1=12.5, Length2=13.7, Length3=14.7, Height=3.528, Width=1.9992, weight_kg=0.032),
 Row(Species='Perch', Weight=40.0, Length1=13.8, Length2=15.0, Length3=16.0, Height=3.824, Width=2.432, weight_kg=0.04),
 Row(Species='Perch', Weight=51.5, Length1=15.0, Length2=16.2, Length3=17.2, Height=4.5924, Width=2.6316, weight_kg=0.0515),
 Row(Species='Perch', Weight=70.0, Length1=15.7, Length2=17.4, Length3=18.5, Height=4.588, Width=2.9415, weight_kg=0.07),
 Row(Species='Perch', Weight=100.0, Length1=16.2, Length2=18.0, Length3=19.2, Height=5.2224, Width=3.3216, weight_kg=0.1),
 Row(Species='Perch', Weight=78.0, Length1=16.8, Length2=18.7, Length3=19.4, Height=5.1992, Width=3.1234, weight_kg=0.078),
 Row(Species='Perch', Weight=80.0, Length1=17.2, Length2=19.0, Length3=20.2, Height=5.6358, Width=3.0502, weight_kg=0.08),
 Row(Species='Perch', Weight=85.0, Length1=17.8, Length2=19.6, Length3=20.8, Height=5.1376, Width=3.0368, weight_kg=0.085),
 Row(Species='Perch', Weight=85.0, Length1=18.2, Length2=20.0, Length3=21.0, Height=5.082, Width=2.772, weight_kg=0.085),
 Row(Species='Perch', Weight=110.0, Length1=19.0, Length2=21.0, Length3=22.5, Height=5.6925, Width=3.555, weight_kg=0.11),
 Row(Species='Perch', Weight=115.0, Length1=19.0, Length2=21.0, Length3=22.5, Height=5.9175, Width=3.3075, weight_kg=0.115),
 Row(Species='Perch', Weight=125.0, Length1=19.0, Length2=21.0, Length3=22.5, Height=5.6925, Width=3.6675, weight_kg=0.125),
 Row(Species='Perch', Weight=130.0, Length1=19.3, Length2=21.3, Length3=22.8, Height=6.384, Width=3.534, weight_kg=0.13),
 Row(Species='Perch', Weight=120.0, Length1=20.0, Length2=22.0, Length3=23.5, Height=6.11, Width=3.4075, weight_kg=0.12),
 Row(Species='Perch', Weight=120.0, Length1=20.0, Length2=22.0, Length3=23.5, Height=5.64, Width=3.525, weight_kg=0.12),
 Row(Species='Perch', Weight=130.0, Length1=20.0, Length2=22.0, Length3=23.5, Height=6.11, Width=3.525, weight_kg=0.13),
 Row(Species='Perch', Weight=135.0, Length1=20.0, Length2=22.0, Length3=23.5, Height=5.875, Width=3.525, weight_kg=0.135),
 Row(Species='Perch', Weight=110.0, Length1=20.0, Length2=22.0, Length3=23.5, Height=5.5225, Width=3.995, weight_kg=0.11),
 Row(Species='Perch', Weight=130.0, Length1=20.5, Length2=22.5, Length3=24.0, Height=5.856, Width=3.624, weight_kg=0.13),
 Row(Species='Perch', Weight=150.0, Length1=20.5, Length2=22.5, Length3=24.0, Height=6.792, Width=3.624, weight_kg=0.15),
 Row(Species='Perch', Weight=145.0, Length1=20.7, Length2=22.7, Length3=24.2, Height=5.9532, Width=3.63, weight_kg=0.145),
 Row(Species='Perch', Weight=150.0, Length1=21.0, Length2=23.0, Length3=24.5, Height=5.2185, Width=3.626, weight_kg=0.15),
 Row(Species='Perch', Weight=170.0, Length1=21.5, Length2=23.5, Length3=25.0, Height=6.275, Width=3.725, weight_kg=0.17),
 Row(Species='Perch', Weight=225.0, Length1=22.0, Length2=24.0, Length3=25.5, Height=7.293, Width=3.723, weight_kg=0.225),
 Row(Species='Perch', Weight=145.0, Length1=22.0, Length2=24.0, Length3=25.5, Height=6.375, Width=3.825, weight_kg=0.145),
 Row(Species='Perch', Weight=188.0, Length1=22.6, Length2=24.6, Length3=26.2, Height=6.7334, Width=4.1658, weight_kg=0.188),
 Row(Species='Perch', Weight=180.0, Length1=23.0, Length2=25.0, Length3=26.5, Height=6.4395, Width=3.6835, weight_kg=0.18),
 Row(Species='Perch', Weight=197.0, Length1=23.5, Length2=25.6, Length3=27.0, Height=6.561, Width=4.239, weight_kg=0.197),
 Row(Species='Perch', Weight=218.0, Length1=25.0, Length2=26.5, Length3=28.0, Height=7.168, Width=4.144, weight_kg=0.218),
 Row(Species='Perch', Weight=300.0, Length1=25.2, Length2=27.3, Length3=28.7, Height=8.323, Width=5.1373, weight_kg=0.3),
 Row(Species='Perch', Weight=260.0, Length1=25.4, Length2=27.5, Length3=28.9, Height=7.1672, Width=4.335, weight_kg=0.26),
 Row(Species='Perch', Weight=265.0, Length1=25.4, Length2=27.5, Length3=28.9, Height=7.0516, Width=4.335, weight_kg=0.265),
 Row(Species='Perch', Weight=250.0, Length1=25.4, Length2=27.5, Length3=28.9, Height=7.2828, Width=4.5662, weight_kg=0.25),
 Row(Species='Perch', Weight=250.0, Length1=25.9, Length2=28.0, Length3=29.4, Height=7.8204, Width=4.2042, weight_kg=0.25),
 Row(Species='Perch', Weight=300.0, Length1=26.9, Length2=28.7, Length3=30.1, Height=7.5852, Width=4.6354, weight_kg=0.3),
 Row(Species='Perch', Weight=320.0, Length1=27.8, Length2=30.0, Length3=31.6, Height=7.6156, Width=4.7716, weight_kg=0.32),
 Row(Species='Perch', Weight=514.0, Length1=30.5, Length2=32.8, Length3=34.0, Height=10.03, Width=6.018, weight_kg=0.514),
 Row(Species='Perch', Weight=556.0, Length1=32.0, Length2=34.5, Length3=36.5, Height=10.2565, Width=6.3875, weight_kg=0.556),
 Row(Species='Perch', Weight=840.0, Length1=32.5, Length2=35.0, Length3=37.3, Height=11.4884, Width=7.7957, weight_kg=0.84),
 Row(Species='Perch', Weight=685.0, Length1=34.0, Length2=36.5, Length3=39.0, Height=10.881, Width=6.864, weight_kg=0.685),
 Row(Species='Perch', Weight=700.0, Length1=34.0, Length2=36.0, Length3=38.3, Height=10.6091, Width=6.7408, weight_kg=0.7),
 Row(Species='Perch', Weight=700.0, Length1=34.5, Length2=37.0, Length3=39.4, Height=10.835, Width=6.2646, weight_kg=0.7),
 Row(Species='Perch', Weight=690.0, Length1=34.6, Length2=37.0, Length3=39.3, Height=10.5717, Width=6.3666, weight_kg=0.69),
 Row(Species='Perch', Weight=900.0, Length1=36.5, Length2=39.0, Length3=41.4, Height=11.1366, Width=7.4934, weight_kg=0.9),
 Row(Species='Perch', Weight=650.0, Length1=36.5, Length2=39.0, Length3=41.4, Height=11.1366, Width=6.003, weight_kg=0.65),
 Row(Species='Perch', Weight=820.0, Length1=36.6, Length2=39.0, Length3=41.3, Height=12.4313, Width=7.3514, weight_kg=0.82),
 Row(Species='Perch', Weight=850.0, Length1=36.9, Length2=40.0, Length3=42.3, Height=11.9286, Width=7.1064, weight_kg=0.85),
 Row(Species='Perch', Weight=900.0, Length1=37.0, Length2=40.0, Length3=42.5, Height=11.73, Width=7.225, weight_kg=0.9),
 Row(Species='Perch', Weight=1015.0, Length1=37.0, Length2=40.0, Length3=42.4, Height=12.3808, Width=7.4624, weight_kg=1.015),
 Row(Species='Perch', Weight=820.0, Length1=37.1, Length2=40.0, Length3=42.5, Height=11.135, Width=6.63, weight_kg=0.82),
 Row(Species='Perch', Weight=1100.0, Length1=39.0, Length2=42.0, Length3=44.6, Height=12.8002, Width=6.8684, weight_kg=1.1),
 Row(Species='Perch', Weight=1000.0, Length1=39.8, Length2=43.0, Length3=45.2, Height=11.9328, Width=7.2772, weight_kg=1.0),
 Row(Species='Perch', Weight=1100.0, Length1=40.1, Length2=43.0, Length3=45.5, Height=12.5125, Width=7.4165, weight_kg=1.1),
 Row(Species='Perch', Weight=1000.0, Length1=40.2, Length2=43.5, Length3=46.0, Height=12.604, Width=8.142, weight_kg=1.0),
 Row(Species='Perch', Weight=1000.0, Length1=41.1, Length2=44.0, Length3=46.6, Height=12.4888, Width=7.5958, weight_kg=1.0),
 Row(Species='Pike', Weight=200.0, Length1=30.0, Length2=32.3, Length3=34.8, Height=5.568, Width=3.3756, weight_kg=0.2),
 Row(Species='Pike', Weight=300.0, Length1=31.7, Length2=34.0, Length3=37.8, Height=5.7078, Width=4.158, weight_kg=0.3),
 Row(Species='Pike', Weight=300.0, Length1=32.7, Length2=35.0, Length3=38.8, Height=5.9364, Width=4.3844, weight_kg=0.3),
 Row(Species='Pike', Weight=300.0, Length1=34.8, Length2=37.3, Length3=39.8, Height=6.2884, Width=4.0198, weight_kg=0.3),
 Row(Species='Pike', Weight=430.0, Length1=35.5, Length2=38.0, Length3=40.5, Height=7.29, Width=4.5765, weight_kg=0.43),
 Row(Species='Pike', Weight=345.0, Length1=36.0, Length2=38.5, Length3=41.0, Height=6.396, Width=3.977, weight_kg=0.345),
 Row(Species='Pike', Weight=456.0, Length1=40.0, Length2=42.5, Length3=45.5, Height=7.28, Width=4.3225, weight_kg=0.456),
 Row(Species='Pike', Weight=510.0, Length1=40.0, Length2=42.5, Length3=45.5, Height=6.825, Width=4.459, weight_kg=0.51),
 Row(Species='Pike', Weight=540.0, Length1=40.1, Length2=43.0, Length3=45.8, Height=7.786, Width=5.1296, weight_kg=0.54),
 Row(Species='Pike', Weight=500.0, Length1=42.0, Length2=45.0, Length3=48.0, Height=6.96, Width=4.896, weight_kg=0.5),
 Row(Species='Pike', Weight=567.0, Length1=43.2, Length2=46.0, Length3=48.7, Height=7.792, Width=4.87, weight_kg=0.567),
 Row(Species='Pike', Weight=770.0, Length1=44.8, Length2=48.0, Length3=51.2, Height=7.68, Width=5.376, weight_kg=0.77),
 Row(Species='Pike', Weight=950.0, Length1=48.3, Length2=51.7, Length3=55.1, Height=8.9262, Width=6.1712, weight_kg=0.95),
 Row(Species='Pike', Weight=1250.0, Length1=52.0, Length2=56.0, Length3=59.7, Height=10.6863, Width=6.9849, weight_kg=1.25),
 Row(Species='Pike', Weight=1600.0, Length1=56.0, Length2=60.0, Length3=64.0, Height=9.6, Width=6.144, weight_kg=1.6),
 Row(Species='Pike', Weight=1550.0, Length1=56.0, Length2=60.0, Length3=64.0, Height=9.6, Width=6.144, weight_kg=1.55),
 Row(Species='Pike', Weight=1650.0, Length1=59.0, Length2=63.4, Length3=68.0, Height=10.812, Width=7.48, weight_kg=1.65),
 Row(Species='Smelt', Weight=6.7, Length1=9.3, Length2=9.8, Length3=10.8, Height=1.7388, Width=1.0476, weight_kg=0.0067),
 Row(Species='Smelt', Weight=7.5, Length1=10.0, Length2=10.5, Length3=11.6, Height=1.972, Width=1.16, weight_kg=0.0075),
 Row(Species='Smelt', Weight=7.0, Length1=10.1, Length2=10.6, Length3=11.6, Height=1.7284, Width=1.1484, weight_kg=0.007),
 Row(Species='Smelt', Weight=9.7, Length1=10.4, Length2=11.0, Length3=12.0, Height=2.196, Width=1.38, weight_kg=0.009699999999999999),
 Row(Species='Smelt', Weight=9.8, Length1=10.7, Length2=11.2, Length3=12.4, Height=2.0832, Width=1.2772, weight_kg=0.009800000000000001),
 Row(Species='Smelt', Weight=8.7, Length1=10.8, Length2=11.3, Length3=12.6, Height=1.9782, Width=1.2852, weight_kg=0.0087),
 Row(Species='Smelt', Weight=10.0, Length1=11.3, Length2=11.8, Length3=13.1, Height=2.2139, Width=1.2838, weight_kg=0.01),
 Row(Species='Smelt', Weight=9.9, Length1=11.3, Length2=11.8, Length3=13.1, Height=2.2139, Width=1.1659, weight_kg=0.0099),
 Row(Species='Smelt', Weight=9.8, Length1=11.4, Length2=12.0, Length3=13.2, Height=2.2044, Width=1.1484, weight_kg=0.009800000000000001),
 Row(Species='Smelt', Weight=12.2, Length1=11.5, Length2=12.2, Length3=13.4, Height=2.0904, Width=1.3936, weight_kg=0.012199999999999999),
 Row(Species='Smelt', Weight=13.4, Length1=11.7, Length2=12.4, Length3=13.5, Height=2.43, Width=1.269, weight_kg=0.0134),
 Row(Species='Smelt', Weight=12.2, Length1=12.1, Length2=13.0, Length3=13.8, Height=2.277, Width=1.2558, weight_kg=0.012199999999999999),
 Row(Species='Smelt', Weight=19.7, Length1=13.2, Length2=14.3, Length3=15.2, Height=2.8728, Width=2.0672, weight_kg=0.0197),
 Row(Species='Smelt', Weight=19.9, Length1=13.8, Length2=15.0, Length3=16.2, Height=2.9322, Width=1.8792, weight_kg=0.019899999999999998)]

### Dataframe info

In [47]:
pd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Species    159 non-null    object
 1   Weight     159 non-null    float64
 2   Length1    159 non-null    float64
 3   Length2    159 non-null    float64
 4   Length3    159 non-null    float64
 5   Height     159 non-null    float64
 6   Width      159 non-null    float64
 7   weight_kg  159 non-null    float64
dtypes: float64(7), object(1)
memory usage: 10.1+ KB

In [46]:
df.printSchema()

root
 |-- Species: string (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Length1: double (nullable = true)
 |-- Length2: double (nullable = true)
 |-- Length3: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- weight_kg: double (nullable = true)

In [147]:
pd_df.dtypes

Species      object
Weight        int64
Length1     float64
Length2     float64
Length3     float64
Height      float64
Width       float64
wt_in_kg    float64
dtype: object

In [148]:
df.dtypes

[('Species', 'string'),
 ('Weight', 'double'),
 ('Length1', 'double'),
 ('Length2', 'double'),
 ('Length3', 'double'),
 ('Height', 'double'),
 ('Width', 'double'),
 ('weight_kg', 'double')]

In [36]:
pd_df.shape

(159, 8)

In [132]:
(df.count(), len(df.columns))

(159, 8)

In [133]:
pd_df.describe()

,Weight,Length1,Length2,Length3,Height,Width,wt_in_kg
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,398.270440,26.247170,28.415723,31.227044,8.970994,4.417486,0.398326
std,358.038939,9.996441,10.716328,11.610246,4.286208,1.685804,0.357978
min,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600,0.000000
25%,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650,0.120000
50%,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500,0.273000
75%,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500,0.650000
max,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000,1.650000

In [134]:
df.describe().show()

+-------+---------+------------------+-----------------+------------------+------------------+-----------------+------------------+-------------------+
|summary|  Species|            Weight|          Length1|           Length2|           Length3|           Height|             Width|          weight_kg|
+-------+---------+------------------+-----------------+------------------+------------------+-----------------+------------------+-------------------+
|  count|      159|               159|              159|               159|               159|              159|               159|                159|
|   mean|     null| 398.3264150943396|26.24716981132075|28.415723270440253|31.227044025157248|8.970993710691822| 4.417485534591194|0.39832641509433964|
| stddev|     null|357.97831655089306|9.996441210553128|10.716328098884247| 11.61024583269096|4.286207619968869|1.6858038699921665| 0.3579783165508931|
|    min|    Bream|               0.0|              7.5|               8.4|               8.8|           1.7284|            1.0476|                0.0|
|    max|Whitefish|            1650.0|             59.0|              63.4|              68.0|           18.957|             8.142|               1.65|
+-------+---------+------------------+-----------------+------------------+------------------+-----------------+------------------+-------------------+

In [135]:
df.summary().show()

+-------+---------+------------------+-----------------+------------------+------------------+-----------------+------------------+-------------------+
|summary|  Species|            Weight|          Length1|           Length2|           Length3|           Height|             Width|          weight_kg|
+-------+---------+------------------+-----------------+------------------+------------------+-----------------+------------------+-------------------+
|  count|      159|               159|              159|               159|               159|              159|               159|                159|
|   mean|     null| 398.3264150943396|26.24716981132075|28.415723270440253|31.227044025157248|8.970993710691822| 4.417485534591194|0.39832641509433964|
| stddev|     null|357.97831655089306|9.996441210553128|10.716328098884247| 11.61024583269096|4.286207619968869|1.6858038699921665| 0.3579783165508931|
|    min|    Bream|               0.0|              7.5|               8.4|               8.8|           1.7284|            1.0476|                0.0|
|    25%|     null|             120.0|             19.0|              21.0|              23.1|           5.9364|            3.3756|               0.12|
|    50%|     null|             273.0|             25.2|              27.3|              29.4|            7.786|            4.2485|              0.273|
|    75%|     null|             650.0|             32.7|              36.0|              39.7|          12.3778|             5.589|               0.65|
|    max|Whitefish|            1650.0|             59.0|              63.4|              68.0|           18.957|             8.142|               1.65|
+-------+---------+------------------+-----------------+------------------+------------------+-----------------+------------------+-------------------+

### Add a new column

In [7]:
pd_df['wt_in_kg'] = pd_df['Weight']/1000
pd_df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width  wt_in_kg
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200     0.242
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056     0.290
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961     0.340
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555     0.363
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340     0.430

In [8]:
df = df.withColumn('wt_in_kg', df.Weight/1000)
df.show(5)

+-------+------+-------+-------+-------+-------+------+--------+
|Species|Weight|Length1|Length2|Length3| Height| Width|wt_in_kg|
+-------+------+-------+-------+-------+-------+------+--------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|   0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|    0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|    0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|   0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|    0.43|
+-------+------+-------+-------+-------+-------+------+--------+
only showing top 5 rows

### Alter column data type

In [65]:
pd_df.dtypes

Species       object
Weight       float64
Length1      float64
Length2      float64
Length3      float64
Height       float64
Width        float64
weight_kg    float64
dtype: object

In [78]:
pd_df = pd_df.astype({'Weight':'int64'})

In [79]:
pd_df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width  wt_in_kg
0   Bream     242     23.2     25.4     30.0  11.5200  4.0200     0.242
1   Bream     290     24.0     26.3     31.2  12.4800  4.3056     0.290
2   Bream     340     23.9     26.5     31.1  12.3778  4.6961     0.340
3   Bream     363     26.3     29.0     33.5  12.7300  4.4555     0.363
4   Bream     430     26.5     29.0     34.0  12.4440  5.1340     0.430

In [80]:
pd_df.dtypes

Species      object
Weight        int64
Length1     float64
Length2     float64
Length3     float64
Height      float64
Width       float64
wt_in_kg    float64
dtype: object

In [63]:
df.printSchema()

root
 |-- Species: string (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Length1: double (nullable = true)
 |-- Length2: double (nullable = true)
 |-- Length3: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- weight_kg: double (nullable = true)

In [64]:
df.withColumn('weight', df['Weight'].cast('Integer')).printSchema()

root
 |-- Species: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- Length1: double (nullable = true)
 |-- Length2: double (nullable = true)
 |-- Length3: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- weight_kg: double (nullable = true)

### Rename column

In [9]:
pd_df.rename(columns={"wt_in_kg":"weight_kg"}, inplace=True)
pd_df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width  weight_kg
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200      0.242
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056      0.290
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961      0.340
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555      0.363
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340      0.430

**withColumn()**: The withColumn function is used to manipulate a column or to create a new column with the existing column. It is a transformation function, we can also change the datatype of any existing column

In [10]:
df = df.withColumnRenamed("wt_in_kg", "weight_kg")
df.show(5)

+-------+------+-------+-------+-------+-------+------+---------+
|Species|Weight|Length1|Length2|Length3| Height| Width|weight_kg|
+-------+------+-------+-------+-------+-------+------+---------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|    0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|     0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|     0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|    0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|     0.43|
+-------+------+-------+-------+-------+-------+------+---------+
only showing top 5 rows

In [119]:
# pd_df.columns = pd_df.columns.str.lower()

Index(['species', 'weight', 'length1', 'length2', 'length3', 'height', 'width',
       'wt_in_kg'],
      dtype='object')

In [122]:
df.toDF(*[c.lower() for c in df.columns])

DataFrame[species: string, weight: double, length1: double, length2: double, length3: double, height: double, width: double, weight_kg: double]

In [131]:
df.columns

['Species',
 'Weight',
 'Length1',
 'Length2',
 'Length3',
 'Height',
 'Width',
 'weight_kg']

In [125]:
df = df.toDF(*[c.lower() for c in df.columns])

In [126]:
df.columns

['species',
 'weight',
 'length1',
 'length2',
 'length3',
 'height',
 'width',
 'weight_kg']

### Select Columns

In [33]:
pd_df[['Weight', 'weight_kg']]

     Weight  weight_kg
0     242.0     0.2420
1     290.0     0.2900
2     340.0     0.3400
3     363.0     0.3630
4     430.0     0.4300
..      ...        ...
154    12.2     0.0122
155    13.4     0.0134
156    12.2     0.0122
157    19.7     0.0197
158    19.9     0.0199

[159 rows x 2 columns]

In [21]:
df.select(df.Weight, df['weight_kg']).show()

+------+---------+
|Weight|weight_kg|
+------+---------+
| 242.0|    0.242|
| 290.0|     0.29|
| 340.0|     0.34|
| 363.0|    0.363|
| 430.0|     0.43|
| 450.0|     0.45|
| 500.0|      0.5|
| 390.0|     0.39|
| 450.0|     0.45|
| 500.0|      0.5|
| 475.0|    0.475|
| 500.0|      0.5|
| 500.0|      0.5|
| 340.0|     0.34|
| 600.0|      0.6|
| 600.0|      0.6|
| 700.0|      0.7|
| 700.0|      0.7|
| 610.0|     0.61|
| 650.0|     0.65|
+------+---------+
only showing top 20 rows

In [59]:
df.select('Weight', 'weight_kg').show()

+------+---------+
|Weight|weight_kg|
+------+---------+
| 242.0|    0.242|
| 290.0|     0.29|
| 340.0|     0.34|
| 363.0|    0.363|
| 430.0|     0.43|
| 450.0|     0.45|
| 500.0|      0.5|
| 390.0|     0.39|
| 450.0|     0.45|
| 500.0|      0.5|
| 475.0|    0.475|
| 500.0|      0.5|
| 500.0|      0.5|
| 340.0|     0.34|
| 600.0|      0.6|
| 600.0|      0.6|
| 700.0|      0.7|
| 700.0|      0.7|
| 610.0|     0.61|
| 650.0|     0.65|
+------+---------+
only showing top 20 rows

In [20]:
# alias a column
df.select(df.weight_kg.alias("kilograms")).show()

+---------+
|kilograms|
+---------+
|    0.242|
|     0.29|
|     0.34|
|    0.363|
|     0.43|
|     0.45|
|      0.5|
|     0.39|
|     0.45|
|      0.5|
|    0.475|
|      0.5|
|      0.5|
|     0.34|
|      0.6|
|      0.6|
|      0.7|
|      0.7|
|     0.61|
|     0.65|
+---------+
only showing top 20 rows

### Operations

In [55]:
pd_df[pd_df['Species'] == 'Whitefish']

      Species  Weight  Length1  Length2  Length3   Height   Width  weight_kg
55  Whitefish   270.0     23.6     26.0     28.7   8.3804  4.2476      0.270
56  Whitefish   270.0     24.1     26.5     29.3   8.1454  4.2485      0.270
57  Whitefish   306.0     25.6     28.0     30.8   8.7780  4.6816      0.306
58  Whitefish   540.0     28.5     31.0     34.0  10.7440  6.5620      0.540
59  Whitefish   800.0     33.7     36.4     39.6  11.7612  6.5736      0.800
60  Whitefish  1000.0     37.3     40.0     43.5  12.3540  6.5250      1.000

In [57]:
df.filter(df['Species'] == 'Whitefish').show()

+---------+------+-------+-------+-------+-------+------+---------+
|  Species|Weight|Length1|Length2|Length3| Height| Width|weight_kg|
+---------+------+-------+-------+-------+-------+------+---------+
|Whitefish| 270.0|   23.6|   26.0|   28.7| 8.3804|4.2476|     0.27|
|Whitefish| 270.0|   24.1|   26.5|   29.3| 8.1454|4.2485|     0.27|
|Whitefish| 306.0|   25.6|   28.0|   30.8|  8.778|4.6816|    0.306|
|Whitefish| 540.0|   28.5|   31.0|   34.0| 10.744| 6.562|     0.54|
|Whitefish| 800.0|   33.7|   36.4|   39.6|11.7612|6.5736|      0.8|
|Whitefish|1000.0|   37.3|   40.0|   43.5| 12.354| 6.525|      1.0|
+---------+------+-------+-------+-------+-------+------+---------+

In [149]:
df[df.Species == 'Whitefish'].show()

+---------+------+-------+-------+-------+-------+------+---------+
|  Species|Weight|Length1|Length2|Length3| Height| Width|weight_kg|
+---------+------+-------+-------+-------+-------+------+---------+
|Whitefish| 270.0|   23.6|   26.0|   28.7| 8.3804|4.2476|     0.27|
|Whitefish| 270.0|   24.1|   26.5|   29.3| 8.1454|4.2485|     0.27|
|Whitefish| 306.0|   25.6|   28.0|   30.8|  8.778|4.6816|    0.306|
|Whitefish| 540.0|   28.5|   31.0|   34.0| 10.744| 6.562|     0.54|
|Whitefish| 800.0|   33.7|   36.4|   39.6|11.7612|6.5736|      0.8|
|Whitefish|1000.0|   37.3|   40.0|   43.5| 12.354| 6.525|      1.0|
+---------+------+-------+-------+-------+-------+------+---------+

In [137]:
df.filter(df.Length1.isNull()).show()

+-------+------+-------+-------+-------+------+-----+---------+
|Species|Weight|Length1|Length2|Length3|Height|Width|weight_kg|
+-------+------+-------+-------+-------+------+-----+---------+
+-------+------+-------+-------+-------+------+-----+---------+

In [114]:
pd_df.drop(['Length1'], axis=1).head()

  Species  Weight  Length2  Length3   Height   Width  wt_in_kg
0   Bream     242     25.4     30.0  11.5200  4.0200     0.242
1   Bream     290     26.3     31.2  12.4800  4.3056     0.290
2   Bream     340     26.5     31.1  12.3778  4.6961     0.340
3   Bream     363     29.0     33.5  12.7300  4.4555     0.363
4   Bream     430     29.0     34.0  12.4440  5.1340     0.430

In [116]:
df.drop('Length1')

DataFrame[Species: string, Weight: double, Length2: double, Length3: double, Height: double, Width: double, weight_kg: double]

In [117]:
df.show(5)

+-------+------+-------+-------+-------+-------+------+---------+
|Species|Weight|Length1|Length2|Length3| Height| Width|weight_kg|
+-------+------+-------+-------+-------+-------+------+---------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|    0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|     0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|     0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|    0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|     0.43|
+-------+------+-------+-------+-------+-------+------+---------+
only showing top 5 rows

In [118]:
# Use asterisk (*) before the list to apply drop() to multiple columns
df.drop(*['Length1', 'Length2', 'Length3'])

DataFrame[Species: string, Weight: double, Height: double, Width: double, weight_kg: double]

In [143]:
pd_df.isnull().sum()

Species     0
Weight      0
Length1     0
Length2     0
Length3     0
Height      0
Width       0
wt_in_kg    0
dtype: int64

In [144]:
import pyspark.sql.functions as f

df.agg(*[f.count(f.when(f.isnull(c), c)).alias(c) for c in df.columns]).show()

+-------+------+-------+-------+-------+------+-----+---------+
|Species|Weight|Length1|Length2|Length3|Height|Width|weight_kg|
+-------+------+-------+-------+-------+------+-----+---------+
|      0|     0|      0|      0|      0|     0|    0|        0|
+-------+------+-------+-------+-------+------+-----+---------+

### Groupby

In [54]:
pd_df['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [81]:
df.groupBy('Species').count().show()

+---------+-----+
|  Species|count|
+---------+-----+
|    Roach|   20|
|    Smelt|   14|
|   Parkki|   11|
|Whitefish|    6|
|     Pike|   17|
|    Bream|   35|
|    Perch|   56|
+---------+-----+

In [86]:
df.groupBy('Species').sum().show()

+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|  Species|       sum(Weight)|      sum(Length1)|      sum(Length2)|      sum(Length3)|       sum(Height)|        sum(Width)|    sum(weight_kg)|
+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|    Roach|            3041.0|412.90000000000003|445.49999999999994|             499.4|          133.8959| 73.15700000000001|             3.041|
|    Smelt|156.50000000000003|             157.6|             166.9|             182.5|30.931199999999997|18.761300000000002|            0.1565|
|   Parkki|            1703.0|             206.0|             223.8|250.70000000000002|           98.5867|           35.4281|             1.703|
|Whitefish|            3186.0|             172.8|             187.9|             205.9|60.163000000000004|32.838300000000004|             3.186|
|     Pike|           12218.0|             722.1|             773.2|             828.2|          131.1341|           86.4685|12.218000000000002|
|    Bream|           21624.0|1060.6999999999998|            1158.8|1342.3999999999999| 531.4123999999999|189.96649999999997|            21.624|
|    Perch|           21405.4|1441.1999999999996|            1562.0|            1656.0| 440.2647000000001|265.76050000000004|           21.4054|
+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [89]:
df.groupBy('Species').mean().show()

+---------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+
|  Species|       avg(Weight)|      avg(Length1)|      avg(Length2)|      avg(Length3)|       avg(Height)|        avg(Width)|      avg(weight_kg)|
+---------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+
|    Roach|            152.05|20.645000000000003|            22.275|             24.97| 6.694795000000001|3.6578500000000007|             0.15205|
|    Smelt| 11.17857142857143|11.257142857142856|11.921428571428573|13.035714285714286|2.2093714285714285|1.3400928571428572|0.011178571428571428|
|   Parkki| 154.8181818181818|18.727272727272727|20.345454545454547|22.790909090909093| 8.962427272727272|3.2207363636363637| 0.15481818181818183|
|Whitefish|             531.0|              28.8|31.316666666666666| 34.31666666666667|10.027166666666668| 5.473050000000001|               0.531|
|     Pike| 718.7058823529412|42.476470588235294| 45.48235294117647| 48.71764705882353| 7.713770588235294| 5.086382352941177|  0.7187058823529413|
|    Bream| 617.8285714285714| 30.30571428571428| 33.10857142857143| 38.35428571428571|15.183211428571427| 5.427614285714284|  0.6178285714285714|
|    Perch|382.23928571428576|25.735714285714277|27.892857142857142|29.571428571428573| 7.861869642857145| 4.745723214285715|  0.3822392857142857|
+---------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+

In [150]:
df.groupBy('Species').mean('Weight', 'Height', 'Width').show()

+---------+------------------+------------------+------------------+
|  Species|       avg(Weight)|       avg(Height)|        avg(Width)|
+---------+------------------+------------------+------------------+
|    Roach|            152.05| 6.694795000000001|3.6578500000000007|
|    Smelt| 11.17857142857143|2.2093714285714285|1.3400928571428572|
|   Parkki| 154.8181818181818| 8.962427272727272|3.2207363636363637|
|Whitefish|             531.0|10.027166666666668| 5.473050000000001|
|     Pike| 718.7058823529412| 7.713770588235294| 5.086382352941177|
|    Bream| 617.8285714285714|15.183211428571427| 5.427614285714284|
|    Perch|382.23928571428576| 7.861869642857145| 4.745723214285715|
+---------+------------------+------------------+------------------+

In [90]:
df.groupBy('Species').min().show()

+---------+-----------+------------+------------+------------+-----------+----------+--------------------+
|  Species|min(Weight)|min(Length1)|min(Length2)|min(Length3)|min(Height)|min(Width)|      min(weight_kg)|
+---------+-----------+------------+------------+------------+-----------+----------+--------------------+
|    Roach|        0.0|        12.9|        14.1|        16.2|     4.1472|     2.268|                 0.0|
|    Smelt|        6.7|         9.3|         9.8|        10.8|     1.7284|    1.0476|              0.0067|
|   Parkki|       55.0|        13.5|        14.7|        16.5|     6.5772|    2.3142|               0.055|
|Whitefish|      270.0|        23.6|        26.0|        28.7|     8.1454|    4.2476|                0.27|
|     Pike|      200.0|        30.0|        32.3|        34.8|      5.568|    3.3756|                 0.2|
|    Bream|      242.0|        23.2|        25.4|        30.0|      11.52|      4.02|               0.242|
|    Perch|        5.9|         7.5|         8.4|         8.8|      2.112|     1.408|0.005900000000000001|
+---------+-----------+------------+------------+------------+-----------+----------+--------------------+

In [91]:
df.groupBy('Species').max().show()

+---------+-----------+------------+------------+------------+-----------+----------+--------------------+
|  Species|max(Weight)|max(Length1)|max(Length2)|max(Length3)|max(Height)|max(Width)|      max(weight_kg)|
+---------+-----------+------------+------------+------------+-----------+----------+--------------------+
|    Roach|      390.0|        29.5|        31.7|        35.0|      9.485|     5.355|                0.39|
|    Smelt|       19.9|        13.8|        15.0|        16.2|     2.9322|    2.0672|0.019899999999999998|
|   Parkki|      300.0|        24.0|        26.0|        29.0|     11.368|     4.234|                 0.3|
|Whitefish|     1000.0|        37.3|        40.0|        43.5|     12.354|    6.5736|                 1.0|
|     Pike|     1650.0|        59.0|        63.4|        68.0|     10.812|      7.48|                1.65|
|    Bream|     1000.0|        38.0|        41.0|        46.5|     18.957|    6.7497|                 1.0|
|    Perch|     1100.0|        41.1|        44.0|        46.6|    12.8002|     8.142|                 1.1|
+---------+-----------+------------+------------+------------+-----------+----------+--------------------+

### orderBy

In [92]:
df.orderBy('Species').show()

+-------+------+-------+-------+-------+-------+------+---------+
|Species|Weight|Length1|Length2|Length3| Height| Width|weight_kg|
+-------+------+-------+-------+-------+-------+------+---------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|    0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|     0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|     0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|    0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|     0.43|
|  Bream| 450.0|   26.8|   29.7|   34.7|13.6024|4.9274|     0.45|
|  Bream| 500.0|   26.8|   29.7|   34.5|14.1795|5.2785|      0.5|
|  Bream| 390.0|   27.6|   30.0|   35.0|  12.67|  4.69|     0.39|
|  Bream| 450.0|   27.6|   30.0|   35.1|14.0049|4.8438|     0.45|
|  Bream| 500.0|   28.5|   30.7|   36.2|14.2266|4.9594|      0.5|
|  Bream| 475.0|   28.4|   31.0|   36.2|14.2628|5.1042|    0.475|
|  Bream| 500.0|   28.7|   31.0|   36.2|14.3714|4.8146|      0.5|
|  Bream| 500.0|   29.1|   31.5|   36.4|13.7592| 4.368|      0.5|
|  Bream| 340.0|   29.5|   32.0|   37.3|13.9129|5.0728|     0.34|
|  Bream| 600.0|   29.4|   32.0|   37.2|14.9544|5.1708|      0.6|
|  Bream| 600.0|   29.4|   32.0|   37.2| 15.438|  5.58|      0.6|
|  Bream| 700.0|   30.4|   33.0|   38.3|14.8604|5.2854|      0.7|
|  Bream| 700.0|   30.4|   33.0|   38.5| 14.938|5.1975|      0.7|
|  Bream| 610.0|   30.9|   33.5|   38.6| 15.633|5.1338|     0.61|
|  Bream| 650.0|   31.0|   33.5|   38.7|14.4738|5.7276|     0.65|
+-------+------+-------+-------+-------+-------+------+---------+
only showing top 20 rows

In [93]:
df.groupBy('Species').count().orderBy('Species').show()

+---------+-----+
|  Species|count|
+---------+-----+
|    Bream|   35|
|   Parkki|   11|
|    Perch|   56|
|     Pike|   17|
|    Roach|   20|
|    Smelt|   14|
|Whitefish|    6|
+---------+-----+

In [95]:
df.groupBy('Species').count().orderBy('count', ascending=False).show()

+---------+-----+
|  Species|count|
+---------+-----+
|    Perch|   56|
|    Bream|   35|
|    Roach|   20|
|     Pike|   17|
|    Smelt|   14|
|   Parkki|   11|
|Whitefish|    6|
+---------+-----+

### Text processing

In [97]:
from pyspark.sql.functions import split

In [100]:
df.withColumn('text', split(df['Species'], "e|a")).groupby('text').count().orderBy('count', ascending=False).show()

+------------+-----+
|        text|count|
+------------+-----+
|    [P, rch]|   56|
|   [Br, , m]|   35|
|    [Ro, ch]|   20|
|     [Pik, ]|   17|
|    [Sm, lt]|   14|
|   [P, rkki]|   11|
|[Whit, fish]|    6|
+------------+-----+

### If-Then Conditionals / When

In [101]:
from pyspark.sql.functions import when

In [103]:
df.show(5)

+-------+------+-------+-------+-------+-------+------+---------+
|Species|Weight|Length1|Length2|Length3| Height| Width|weight_kg|
+-------+------+-------+-------+-------+-------+------+---------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|    0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|     0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|     0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|    0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|     0.43|
+-------+------+-------+-------+-------+-------+------+---------+
only showing top 5 rows

In [107]:
df.select('Width', when(df.Weight > 500, "Heavy")).show()

+------+---------------------------------------+
| Width|CASE WHEN (Weight > 500) THEN Heavy END|
+------+---------------------------------------+
|  4.02|                                   null|
|4.3056|                                   null|
|4.6961|                                   null|
|4.4555|                                   null|
| 5.134|                                   null|
|4.9274|                                   null|
|5.2785|                                   null|
|  4.69|                                   null|
|4.8438|                                   null|
|4.9594|                                   null|
|5.1042|                                   null|
|4.8146|                                   null|
| 4.368|                                   null|
|5.0728|                                   null|
|5.1708|                                  Heavy|
|  5.58|                                  Heavy|
|5.2854|                                  Heavy|
|5.1975|                                  Heavy|
|5.1338|                                  Heavy|
|5.7276|                                  Heavy|
+------+---------------------------------------+
only showing top 20 rows

In [104]:
df.groupBy('Weight').count().orderBy('count', ascending=False).show()

+------+-----+
|Weight|count|
+------+-----+
| 300.0|    6|
| 700.0|    5|
| 120.0|    5|
|1000.0|    5|
| 500.0|    5|
| 150.0|    4|
| 145.0|    4|
| 130.0|    3|
| 110.0|    3|
| 200.0|    3|
| 270.0|    2|
| 685.0|    2|
| 650.0|    2|
|  78.0|    2|
| 250.0|    2|
|  85.0|    2|
|1100.0|    2|
| 430.0|    2|
| 600.0|    2|
| 140.0|    2|
+------+-----+
only showing top 20 rows

### Window and multiple aggregations

In [159]:
from pyspark.sql.functions import col,avg,sum,min,max,row_number
from pyspark.sql import Window

windowSpecAgg = Window.partitionBy("Species").orderBy('Weight')

df.withColumn("row",row_number().over(windowSpecAgg)
             ).withColumn("avg", avg(col("Weight")).over(windowSpecAgg)
                         ).withColumn("sum", sum(col("Weight")).over(windowSpecAgg)
                                     ).withColumn("min", min(col("Weight")).over(windowSpecAgg)
                                                 ).withColumn("max", max(col("Weight")).over(windowSpecAgg)
                                                             ).where(col("row")==1).select("species","avg","sum","min","max").show()

+---------+-----+-----+-----+-----+
|  species|  avg|  sum|  min|  max|
+---------+-----+-----+-----+-----+
|    Bream|242.0|242.0|242.0|242.0|
|   Parkki| 55.0| 55.0| 55.0| 55.0|
|    Perch|  5.9|  5.9|  5.9|  5.9|
|     Pike|200.0|200.0|200.0|200.0|
|    Roach|  0.0|  0.0|  0.0|  0.0|
|    Smelt|  6.7|  6.7|  6.7|  6.7|
|Whitefish|270.0|540.0|270.0|270.0|
+---------+-----+-----+-----+-----+

### Distinct counts

In [11]:
pd_df['Species'].nunique()

7

In [12]:
df['Species'].distinct().count()

TypeError: 'Column' object is not callable

In [13]:
df.select('Species').distinct().count()

7

### Save file

In [49]:
pd_df.to_parquet('pandas_to_parquet.parquet')

In [50]:
df.write.save('spark_to_parquet', format='parquet')

In [51]:
pd_df.to_csv('pandas_to_csv.cvs', index=False)

In [52]:
df.write.option("header", True).csv("spark_to_csv")

# Resources

- [Fish market](https://www.kaggle.com/datasets/aungpyaeap/fish-market)
- [Essential PySpark DataFrame Column Operations that Data Engineers Should Know](https://www.analyticsvidhya.com/blog/2021/09/essential-pyspark-dataframe-column-operations-that-data-engineers-should-know/)
- [Know About Apache Spark Using PySpark for Data Engineering](https://www.analyticsvidhya.com/blog/2021/07/know-about-apache-spark-using-pyspark-for-data-engineering/)
- [9 most useful functions for PySpark DataFrame](https://www.analyticsvidhya.com/blog/2021/05/9-most-useful-functions-for-pyspark-dataframe/)
- [Hands-On Tutorial to Analyze Data using Spark SQL](https://www.analyticsvidhya.com/blog/2020/02/hands-on-tutorial-spark-sql-analyze-data/)
- [A Comprehensive Guide to PySpark RDD Operations](https://www.analyticsvidhya.com/blog/2021/10/a-comprehensive-guide-to-pyspark-rdd-operations/)
- [A Comprehensive Guide to Apache Spark RDD and PySpark](https://www.analyticsvidhya.com/blog/2021/10/a-comprehensive-guide-to-apache-spark-rdd-and-pyspark/#h2_15)
- [Want to Build Machine Learning Pipelines? A Quick Introduction using PySpark](https://www.analyticsvidhya.com/blog/2019/11/build-machine-learning-pipelines-pyspark/)