# Entry 21 notebook: Diameter

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

import warnings
warnings.filterwarnings('once')

from neo4j import GraphDatabase

In [4]:
uri = "bolt://localhost:7687"

driver = GraphDatabase.driver(uri, auth=('neo4j', 'password'))

uni_session = driver.session(database="unimodal")

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [12]:
diameter = pd.DataFrame(uni_session.run('''MATCH (h:Hero)
    call apoc.path.spanningTree(h, {labelFilter:'>Hero', minLevel:1})
    YIELD path
    RETURN h.name as name, labels(h)[-1] as type, length(path) as min_distance, count(path) as total_ct''').data())

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [13]:
diameter

                       name     type  min_distance  total_ct
0      24-HOUR MAN/EMMANUEL     Hero             1         5
1      24-HOUR MAN/EMMANUEL     Hero             2        30
2      24-HOUR MAN/EMMANUEL     Hero             3      1281
3      24-HOUR MAN/EMMANUEL     Hero             4      5008
4      24-HOUR MAN/EMMANUEL     Hero             5        78
...                     ...      ...           ...       ...
25537                  ZURI     Hero             4        10
25538                 ZZZAX  Villain             1        30
25539                 ZZZAX  Villain             2      3150
25540                 ZZZAX  Villain             3      3207
25541                 ZZZAX  Villain             4        15

[25542 rows x 4 columns]

In [14]:
diameter[diameter['min_distance'] == diameter['min_distance'].max()]

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                       name     type  min_distance  total_ct
4      24-HOUR MAN/EMMANUEL     Hero             5        78
16                  8-BALL/     Hero             5        12
71                 ACHILLES     Hero             5        10
104          ADAMSON, JASON     Hero             5        49
109        ADAMSON, REBECCA     Hero             5        49
...                     ...      ...           ...       ...
24893  WITNESS II/REMY LEBE     Hero             5         1
24905    WIZARD OF THE WEST  Villain             5        16
25105             WU, SONIA     Hero             5         5
25305                  YRIK     Hero             5         4
25429     ZEITGEIST, NICOLA     Hero             5         1

[210 rows x 4 columns]

In [23]:
diameter.loc[diameter['min_distance'] == diameter['min_distance'].max(), 'total_ct'].sum()

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

2954