# Entry 23a notebook: Nearest Neighbor Egonet Densities

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

import warnings
warnings.filterwarnings('once')

from neo4j import GraphDatabase

In [2]:
uri = "bolt://localhost:7687"

driver = GraphDatabase.driver(uri, auth=('neo4j', 'password'))

uni_session = driver.session(database="unimodal")
bi_session = driver.session(database="bimodal")
mix_session = driver.session(database="mixmodal")

/Users/julie.fisher/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [9]:
def local_densities(con, model_type='uni', max_level=1):
    if model_type == 'uni' or model_type == 'mix':
        rel_type = 'KNOWS'
        subgraph_query = '''MATCH (h:Hero)
        call apoc.path.subgraphAll(h, {maxLevel:'''  + f"{max_level}, relationshipFilter:'{rel_type}'" + '''})
        YIELD nodes, relationships
        RETURN h.name as hero, labels(h)[-1] as h_type, size(relationships) as rel_ct, 'na' as node_type, size(nodes) as node_ct'''
    else:
        max_level = max_level * 2
        rel_type = 'APPEARS_IN'
        subgraph_query = '''MATCH (h:Hero)
        call apoc.path.subgraphAll(h, {maxLevel:'''  + f"{max_level}, relationshipFilter:'{rel_type}'" + '''})
        YIELD nodes, relationships
        WITH h.name as hero, labels(h)[-1] as h_type, nodes, size(relationships) as rel_ct
        UNWIND nodes as indv_node
        RETURN hero, h_type, rel_ct, labels(indv_node)[0] as node_type, count(indv_node) as node_ct'''
    
    df = pd.DataFrame(con.run(subgraph_query).data())
    df.columns = ['hero', 'h_type', 'rel_ct', 'node_type', 'node_ct']
    
    if model_type == 'uni' or model_type == 'mix':
        df['p_rel_ct'] = (df['node_ct'] * (df['node_ct'] - 1)) / 2
    else:
        df = pd.pivot_table(df, index=['hero', 'h_type', 'rel_ct'], columns='node_type', values='node_ct').reset_index()
        df['p_rel_ct'] = df['Hero'] * df['Comic']
        
    df['density'] = df['rel_ct'] / df['p_rel_ct']
    return df

## Uni Densities Nearest Neighbors

In [4]:
uni_densities = local_densities(uni_session)
uni_densities.to_csv('data/uni_nn_densities.csv', index=False)
uni_densities

,hero,h_type,rel_ct,node_type,node_ct,p_rel_ct,density
0,24-HOUR MAN/EMMANUEL,Hero,15,na,6,15.0,1.000000
1,3-D MAN/CHARLES CHAN,Hero,6645,na,123,7503.0,0.885646
2,4-D MAN/MERCURIO,Villain,1271,na,73,2628.0,0.483638
3,8-BALL/,Hero,81,na,15,105.0,0.771429
4,"ABBOTT, JACK",Hero,36,na,9,36.0,1.000000
...,...,...,...,...,...,...,...
6434,"ZOTA, CARLO",Hero,1680,na,69,2346.0,0.716113
6435,ZOTA,Hero,33,na,9,36.0,0.916667
6436,ZURAS,Hero,1811,na,93,4278.0,0.423329
6437,ZURI,Hero,2101,na,99,4851.0,0.433107
6438,ZZZAX,Villain,269,na,31,465.0,0.578495

In [5]:
uni_densities.describe()

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

             rel_ct      node_ct      p_rel_ct      density
count   6439.000000  6439.000000  6.439000e+03  6421.000000
mean    1652.297562    54.313869  8.247615e+03     0.792685
std     5928.968707   116.626159  6.112115e+04     0.236162
min        0.000000     1.000000  0.000000e+00     0.050879
25%       55.000000    11.000000  5.500000e+01     0.632576
50%      190.000000    21.000000  2.100000e+02     0.885714
75%      769.500000    49.000000  1.176000e+03     1.000000
max    93812.000000  1920.000000  1.842240e+06     1.000000

## Bi Densities Nearest Neighbors

In [ ]:
bi_densities = local_densities(bi_session, model_type='bi')
bi_densities.to_csv('data/bi_nn_densities.csv', index=False)
bi_densities

In [7]:
bi_densities.describe()

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

node_type        rel_ct        Comic         Hero      p_rel_ct      density
count       6439.000000  6439.000000  6439.000000  6.439000e+03  6439.000000
mean         194.820003    14.925299    54.313869  7.156255e+03     0.595690
std          784.811139    59.268725   116.626159  7.517246e+04     0.339970
min            1.000000     1.000000     1.000000  1.000000e+00     0.005531
25%           15.000000     1.000000    11.000000  1.700000e+01     0.281250
50%           37.000000     3.000000    21.000000  6.000000e+01     0.606061
75%          111.000000     8.000000    49.000000  3.715000e+02     1.000000
max        17391.000000  1577.000000  1920.000000  2.767635e+06     1.000000

## Mixed Uni Densities Nearest Neighbors

In [8]:
mix_uni_densities = local_densities(mix_session)
mix_uni_densities.to_csv('data/mix_uni_nn_densities.csv', index=False)
mix_uni_densities

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,hero,h_type,rel_ct,node_type,node_ct,p_rel_ct,density
0,24-HOUR MAN/EMMANUEL,Hero,15,na,6,15.0,1.000000
1,3-D MAN/CHARLES CHAN,Hero,6645,na,123,7503.0,0.885646
2,4-D MAN/MERCURIO,Villain,1271,na,73,2628.0,0.483638
3,8-BALL/,Hero,81,na,15,105.0,0.771429
4,"ABBOTT, JACK",Hero,36,na,9,36.0,1.000000
...,...,...,...,...,...,...,...
6434,"ZOTA, CARLO",Hero,1680,na,69,2346.0,0.716113
6435,ZOTA,Hero,33,na,9,36.0,0.916667
6436,ZURAS,Hero,1811,na,93,4278.0,0.423329
6437,ZURI,Hero,2101,na,99,4851.0,0.433107
6438,ZZZAX,Villain,269,na,31,465.0,0.578495

In [9]:
mix_uni_densities.describe()

C:\Users\jfish\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

             rel_ct      node_ct      p_rel_ct      density
count   6439.000000  6439.000000  6.439000e+03  6421.000000
mean    1652.297562    54.313869  8.247615e+03     0.792685
std     5928.968707   116.626159  6.112115e+04     0.236162
min        0.000000     1.000000  0.000000e+00     0.050879
25%       55.000000    11.000000  5.500000e+01     0.632576
50%      190.000000    21.000000  2.100000e+02     0.885714
75%      769.500000    49.000000  1.176000e+03     1.000000
max    93812.000000  1920.000000  1.842240e+06     1.000000

## Mixed Bi Densities Nearest Neighbors

In [4]:
mix_bi_densities = local_densities(mix_session, model_type='bi')
mix_bi_densities.to_csv('data/mix_bi_nn_densities.csv', index=False)
mix_bi_densities

node_type,hero,h_type,rel_ct,Comic,Hero,p_rel_ct,density
0,24-HOUR MAN/EMMANUEL,Hero,21,1,6,6,3.500000
1,3-D MAN/CHARLES CHAN,Hero,6802,9,123,1107,6.144535
2,4-D MAN/MERCURIO,Villain,1398,9,73,657,2.127854
3,8-BALL/,Hero,105,3,15,45,2.333333
4,A,Hero,56,3,9,27,2.074074
...,...,...,...,...,...,...,...
6434,ZOTA,Hero,45,2,9,18,2.500000
6435,"ZOTA, CARLO",Hero,1802,10,69,690,2.611594
6436,ZURAS,Hero,2130,23,93,2139,0.995792
6437,ZURI,Hero,2385,21,99,2079,1.147186
6438,ZZZAX,Villain,329,10,31,310,1.061290

In [5]:
mix_bi_densities.describe()

/Users/julie.fisher/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

node_type         rel_ct        Comic         Hero      p_rel_ct      density
count        6439.000000  6439.000000  6439.000000  6.439000e+03  6439.000000
mean         1847.117565    14.925299    54.313869  7.156255e+03     3.966449
std          6683.910176    59.268725   116.626159  7.517246e+04     4.070162
min             1.000000     1.000000     1.000000  1.000000e+00     0.033825
25%            78.000000     1.000000    11.000000  1.700000e+01     1.576085
50%           229.000000     3.000000    21.000000  6.000000e+01     2.888889
75%           886.500000     8.000000    49.000000  3.715000e+02     5.000000
max        111203.000000  1577.000000  1920.000000  2.767635e+06    46.000000