# Entry ? - N-grams

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px

import string
import re
import nltk
import emoji
import itertools

In [2]:
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_validate, cross_val_predict
from sklearn.compose import ColumnTransformer, make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

# Functions

## Filter data, create features

In [3]:
def count_ratios(df, text_col):
    df['char_count'] = df[text_col].str.len()
    df['word_count'] = df[text_col].str.count('\\w+')
    df['ltr_count'] = df[text_col].str.count('[A-Za-z]')
    df['ltr_ratio'] = (df['ltr_count'] / df['char_count']).fillna(0)
    df['spec_char_count'] = df[text_col].apply(lambda x: sum(map(x.count, string.punctuation)))
    df['spec_char_ratio'] = (df['spec_char_count'] / df['char_count']).fillna(0)
    df['num_count'] = df[text_col].str.count('[0-9]+')
    df['num_ratio'] = (df['num_count'] / df['char_count']).fillna(0)
    df['vowel_count'] = df[text_col].str.count('[aeiouyAEIOUY]')
    df['vowel_ratio'] = (df['vowel_count'] / df['char_count']).fillna(0)
    df['caps_count'] = df[text_col].str.count('[A-Z]')
    df['caps_ratio'] = (df['caps_count'] / df['char_count']).fillna(0)
    df['newline_tab_count'] = df[text_col].str.count(r'[\t\r\n]')
    df['newline_tab_ratio'] = (df['newline_tab_count'] / df['char_count']).fillna(0)
    df['qwerty_count'] = df[text_col].str.count('[asdfghjkl]')
    df['qwerty_ratio'] = (df['qwerty_count'] / df['char_count']).fillna(0)
    return df
    
def punct_tokens(df, text_col):
    newline_list = '\t\r\n'
    remove_newline = str.maketrans(' ', ' ', newline_list)
    emoji_string = ''.join(emoji.UNICODE_EMOJI.keys())
    punct_list = string.punctuation + '-‘_”' + emoji_string
    nopunct = str.maketrans('', '', punct_list)
    df['no_punct_tokens'] = df[text_col].fillna("").str.lower().str.translate(remove_newline).str.translate(nopunct).str.split()
    df['distinct_word_count'] = df['no_punct_tokens'].apply(lambda x: len(set(x)))
    df['max_word_len'] = df['no_punct_tokens'].apply(lambda x: max([len(word) for word in x], default=0))
    df['min_word_len'] = df['no_punct_tokens'].apply(lambda x: min([len(word) for word in x], default=0))
    df['word_len_range'] = df['max_word_len'] - df['min_word_len']
    df['word_diversity'] = (df['distinct_word_count'] / df['word_count']).fillna(0)
    df['avg_word_len'] = (df['char_count'] / df['word_count']).fillna(0)
    df['repeat_ltrs'] = df['no_punct_tokens'].apply(lambda x: [word for word in x if re.search(r'([a-zA-Z])\1{2,}', word.lower())])
    df['repeat_ltr_count'] = df[text_col].str.count(r'([a-zA-Z])\1{2,}')
    df['repeat_ltr_ratio'] = (df['repeat_ltr_count'] / df['word_count']).fillna(0)
    return df

def tribi_grams(df):
    stop = nltk.corpus.stopwords.words('english')
    df['unigrams'] = df['no_punct_tokens'].apply(lambda x: [item for item in x if item not in stop])
    df['bigrams'] = df['unigrams'].apply(lambda x:(list(nltk.bigrams(x))))
    df['trigrams'] = df['unigrams'].apply(lambda x:(list(nltk.trigrams(x))))
#     df['spam_unigram'] = df.apply(lambda x: [[x['spam'],word] for word in x['no_punct_tokens'], axis=1])
#     df['spam_bigram'] = df.apply(lambda x: [[x['spam'],word] for word in x['bigrams'], axis=1])
#     df['spam_trigram'] = df.apply(lambda x: [[x['spam'],word] for word in x['trigrams'], axis=1])
    return df

def clean_features(df, text_col):
    df = count_ratios(df, text_col)
    df = punct_tokens(df, text_col)
    df.loc[df['avg_word_len'] == np.inf, 'avg_word_len'] = 0
    df = tribi_grams(df)
    return df

In [4]:
sms_df = pd.read_csv('data/smsspamcollection/SMSSpamCollection', sep='\t', names =['spam', 'text'])
sms_df = clean_features(sms_df, 'text')

In [5]:
sms_df['target'] = sms_df['spam'].map({'ham': 0, 'spam': 1})

In [6]:
sms_df.head(3)

,spam,text,char_count,word_count,ltr_count,ltr_ratio,spec_char_count,spec_char_ratio,num_count,num_ratio,...,word_len_range,word_diversity,avg_word_len,repeat_ltrs,repeat_ltr_count,repeat_ltr_ratio,unigrams,bigrams,trigrams,target
0,ham,"Go until jurong point, crazy.. Available only ...",111,20,83,0.747748,9,0.081081,0,0.00000,...,8,1.000000,5.550000,[],0,0.0,"[go, jurong, point, crazy, available, bugis, n...","[(go, jurong), (jurong, point), (point, crazy)...","[(go, jurong, point), (jurong, point, crazy), ...",0
1,ham,Ok lar... Joking wif u oni...,29,6,18,0.620690,6,0.206897,0,0.00000,...,5,1.000000,4.833333,[],0,0.0,"[ok, lar, joking, wif, u, oni]","[(ok, lar), (lar, joking), (joking, wif), (wif...","[(ok, lar, joking), (lar, joking, wif), (jokin...",0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,33,97,0.625806,6,0.038710,6,0.03871,...,10,0.636364,4.696970,[],0,0.0,"[free, entry, wkly, comp, win, fa, cup, final,...","[(free, entry), (entry, wkly), (wkly, comp), (...","[(free, entry, wkly), (entry, wkly, comp), (wk...",1

In [7]:
sms_df[['target', 'text', 'unigrams', 'bigrams', 'trigrams']].head(3)

,target,text,unigrams,bigrams,trigrams
0,0,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n...","[(go, jurong), (jurong, point), (point, crazy)...","[(go, jurong, point), (jurong, point, crazy), ..."
1,0,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]","[(ok, lar), (lar, joking), (joking, wif), (wif...","[(ok, lar, joking), (lar, joking, wif), (jokin..."
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, wkly, comp, win, fa, cup, final,...","[(free, entry), (entry, wkly), (wkly, comp), (...","[(free, entry, wkly), (entry, wkly, comp), (wk..."

In [8]:
sms_df.columns

Index(['spam', 'text', 'char_count', 'word_count', 'ltr_count', 'ltr_ratio',
       'spec_char_count', 'spec_char_ratio', 'num_count', 'num_ratio',
       'vowel_count', 'vowel_ratio', 'caps_count', 'caps_ratio',
       'newline_tab_count', 'newline_tab_ratio', 'qwerty_count',
       'qwerty_ratio', 'no_punct_tokens', 'distinct_word_count',
       'max_word_len', 'min_word_len', 'word_len_range', 'word_diversity',
       'avg_word_len', 'repeat_ltrs', 'repeat_ltr_count', 'repeat_ltr_ratio',
       'unigrams', 'bigrams', 'trigrams', 'target'],
      dtype='object')

In [7]:
X = sms_df.drop(['spam', 'target'], axis=1)
y = sms_df['target']
X_ngrams, X, y_ngrams, y = train_test_split(X, y, train_size=0.2, random_state=12)

In [8]:
ngram_df = pd.concat([X_ngrams, y_ngrams], axis=1)[['text', 'unigrams', 'bigrams', 'trigrams', 'target']]

In [9]:
ngram_df.head()

,text,unigrams,bigrams,trigrams,target
3442,Get a FREE mobile video player FREE movie. To ...,"[get, free, mobile, video, player, free, movie...","[(get, free), (free, mobile), (mobile, video),...","[(get, free, mobile), (free, mobile, video), (...",1
4172,Pls what's the full name of joke's school cos ...,"[pls, whats, full, name, jokes, school, cos, f...","[(pls, whats), (whats, full), (full, name), (n...","[(pls, whats, full), (whats, full, name), (ful...",0
1943,K...k:)why cant you come here and search job:),"[kkwhy, cant, come, search, job]","[(kkwhy, cant), (cant, come), (come, search), ...","[(kkwhy, cant, come), (cant, come, search), (c...",0
2089,Well done ENGLAND! Get the official poly ringt...,"[well, done, england, get, official, poly, rin...","[(well, done), (done, england), (england, get)...","[(well, done, england), (done, england, get), ...",1
2359,I'll talk to the others and probably just come...,"[ill, talk, others, probably, come, early, tom...","[(ill, talk), (talk, others), (others, probabl...","[(ill, talk, others), (talk, others, probably)...",0

In [35]:
def create_ngram_dist(df, ngram_col, target_col):
    total_ngram_list = list(itertools.chain(*df[ngram_col].ravel()))
    total_freq = nltk.FreqDist(total_ngram_list)
    total_freq_df = pd.DataFrame.from_dict(total_freq, orient='index', columns=['total_ct'])
    tar_gram_list = list(itertools.chain(*df[ngram_df[target_col] == 1][ngram_col].ravel()))
    tar_freq = nltk.FreqDist(tar_gram_list)
    tar_freq_df = pd.DataFrame.from_dict(tar_freq, orient='index', columns=['tar_ct'])
    freq_df = pd.merge(total_freq_df, tar_freq_df, how='left', left_index=True, right_index=True).fillna(0)
    freq_df['tar_rate'] = freq_df['tar_ct'] / freq_df['total_ct']
    freq_df['log2_total_ct'] = np.log2(freq_df['total_ct'])
    freq_df['log_total_ct'] = np.log(freq_df['total_ct'])
    freq_df['log10_total_ct'] = np.log10(freq_df['total_ct'])
    freq_df['log2_tar_score'] = freq_df['log2_total_ct'] * freq_df['tar_rate']
    freq_df['log_tar_score'] = freq_df['log_total_ct'] * freq_df['tar_rate']
    freq_df['log10_tar_score'] = freq_df['log10_total_ct'] * freq_df['tar_rate']
    return freq_df

In [36]:
unigram_dist_df = create_ngram_dist(ngram_df, 'unigrams', 'target')
bigram_dist_df = create_ngram_dist(ngram_df, 'bigrams', 'target')
trigram_dist_df = create_ngram_dist(ngram_df, 'trigrams', 'target')

In [37]:
unigram_dist_df.sort_values('tar_ct')

,total_ct,tar_ct,tar_rate,log2_total_ct,log_total_ct,log10_total_ct,log2_tar_score,log_tar_score,log10_tar_score
nap,2,0.0,0.000000,1.000000,0.693147,0.301030,0.000000,0.000000,0.000000
hand,5,0.0,0.000000,2.321928,1.609438,0.698970,0.000000,0.000000,0.000000
wit,1,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
clear,2,0.0,0.000000,1.000000,0.693147,0.301030,0.000000,0.000000,0.000000
copies,1,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
ur,85,36.0,0.423529,6.409391,4.442651,1.929419,2.714566,1.881593,0.817166
txt,40,37.0,0.925000,5.321928,3.688879,1.602060,4.922783,3.412213,1.481905
free,64,53.0,0.828125,6.000000,4.158883,1.806180,4.968750,3.444075,1.495743
£,54,54.0,1.000000,5.754888,3.988984,1.732394,5.754888,3.988984,1.732394
call,103,59.0,0.572816,6.686501,4.634729,2.012837,3.830131,2.654845,1.152984

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=12)

In [24]:
X_train.shape

(3566, 30)

In [26]:
X_train.head(3)

,text,char_count,word_count,ltr_count,ltr_ratio,spec_char_count,spec_char_ratio,num_count,num_ratio,vowel_count,...,min_word_len,word_len_range,word_diversity,avg_word_len,repeat_ltrs,repeat_ltr_count,repeat_ltr_ratio,unigrams,bigrams,trigrams
1938,The fact that you're cleaning shows you know w...,133,28,99,0.744361,9,0.067669,0,0.0,42,...,1,9,0.785714,4.750000,[],0,0.0,"[fact, youre, cleaning, shows, know, im, upset...","[(fact, youre), (youre, cleaning), (cleaning, ...","[(fact, youre, cleaning), (youre, cleaning, sh..."
495,Are you free now?can i call now?,32,8,24,0.750000,2,0.062500,0,0.0,12,...,1,5,0.875000,4.000000,[],0,0.0,"[free, nowcan, call]","[(free, nowcan), (nowcan, call)]","[(free, nowcan, call)]"
3798,For The First Time In The History 'Need' 'Comf...,180,33,115,0.638889,36,0.200000,0,0.0,39,...,2,6,0.636364,5.454545,[],0,0.0,"[first, time, history, need, comfort, luxury, ...","[(first, time), (time, history), (history, nee...","[(first, time, history), (time, history, need)..."

In [27]:
X_train[['unigrams']].map()

                                               unigrams
1938  [fact, youre, cleaning, shows, know, im, upset...
495                                [free, nowcan, call]
3798  [first, time, history, need, comfort, luxury, ...
1876  [hmv, bonus, special, pounds, genuine, hmv, vo...
2580                  [dunno, lets, go, learn, pilates]
...                                                 ...
2597  [im, gonna, able, late, notice, ill, home, wee...
4568                                [together, thinkin]
2996  [mm, entirely, sure, understood, text, hey, ho...
5161      [lol, need, cash, nitros, hurry, come, crash]
3387  [oops, mums, somerset, bit, far, back, tomo, s...

[3566 rows x 1 columns]

In [85]:
X_train['unigrams'].map(lambda r:
                        list(itertools.chain(*[unigram_dist_df.loc[unigram_dist_df.index == x, 'total_ct'] for x in r if x in unigram_dist_df.index])))

1938                [1, 14, 8, 48, 105, 44, 42]
495                                   [64, 103]
3798            [13, 39, 42, 5, 41, 41, 41, 41]
1876    [2, 2, 13, 4, 2, 4, 4, 5, 1, 10, 34, 2]
2580                           [8, 4, 49, 1, 2]
                         ...
2597       [105, 18, 5, 10, 2, 44, 31, 6, 6, 4]
4568                                     [3, 2]
2996                      [3, 21, 38, 24, 1, 3]
5161                        [11, 42, 13, 3, 49]
3387               [1, 5, 4, 34, 5, 27, 10, 16]
Name: unigrams, Length: 3566, dtype: object

In [209]:
temp = pd.DataFrame(X_train['unigrams'].values.tolist())

In [210]:
temp.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,fact,youre,cleaning,shows,know,im,upset,priority,constantly,want,...,None,None,None,None,None,None,None,None,None,None
1,free,nowcan,call,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,first,time,history,need,comfort,luxury,sold,price,india,onionrs,...,None,None,None,None,None,None,None,None,None,None
3,hmv,bonus,special,pounds,genuine,hmv,vouchers,answer,easy,questions,...,None,None,None,None,None,None,None,None,None,None
4,dunno,lets,go,learn,pilates,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [215]:
for col in temp.columns:
    temp[col] = temp[col].map(unigram_dist_df['total_ct'])
combined_df = pd.DataFrame()
combined_df['uni_total_ct'] = temp2.values.tolist()
combined_df['uni_total_ct'] = combined_df['uni_total_ct'].apply(lambda r: [x for x in r if ~np.isnan(x)])

In [216]:
temp.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
combined_df.head()

                                        uni_total_ct
0          [1.0, 14.0, 8.0, 48.0, 105.0, 44.0, 42.0]
1                                      [64.0, 103.0]
2    [13.0, 39.0, 42.0, 5.0, 41.0, 41.0, 41.0, 41.0]
3  [2.0, 2.0, 13.0, 4.0, 2.0, 4.0, 4.0, 5.0, 1.0,...
4                         [8.0, 4.0, 49.0, 1.0, 2.0]

In [202]:
# for x in temp3.loc[0, 'uni_total_ct']:
#     if ~np.isnan(x):
#         print(x)

# [x for x in temp3.loc[0, 'uni_total_ct'] if ~np.isnan(x)]

In [208]:
combined_df.head()

                                        uni_total_ct
0          [1.0, 14.0, 8.0, 48.0, 105.0, 44.0, 42.0]
1                                      [64.0, 103.0]
2    [13.0, 39.0, 42.0, 5.0, 41.0, 41.0, 41.0, 41.0]
3  [2.0, 2.0, 13.0, 4.0, 2.0, 4.0, 4.0, 5.0, 1.0,...
4                         [8.0, 4.0, 49.0, 1.0, 2.0]

In [219]:
%%timeit
temp = pd.DataFrame(X_train['unigrams'].values.tolist())
for col in temp.columns:
    temp[col] = temp[col].map(unigram_dist_df['total_ct'])
combined_df = pd.DataFrame()
combined_df['uni_total_ct'] = temp2.values.tolist()
combined_df['uni_total_ct'] = combined_df['uni_total_ct'].apply(lambda r: [x for x in r if ~np.isnan(x)])

559 ms ± 2.34 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [220]:
%%timeit
combined2 = pd.DataFrame()
combined2['uni_total_ct'] = X_train['unigrams'].map(lambda r:
                                                    list(itertools.chain(*[unigram_dist_df.loc[
                                                        unigram_dist_df.index == x, 'total_ct'
                                                    ] for x in r if x in unigram_dist_df.index])))

7.6 s ± 25.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [221]:
unigram_dist_df.columns

Index(['total_ct', 'tar_ct', 'tar_rate', 'log2_total_ct', 'log_total_ct',
       'log10_total_ct', 'log2_tar_score', 'log_tar_score', 'log10_tar_score'],
      dtype='object')

In [222]:
ngram_cols = ['unigrams', 'bigrams', 'trigrams']
val_map_cols = unigram_dist_df.columns

In [244]:
def create_val_map_df(df, dist_df):
    combined_df = pd.DataFrame()
    val_map_cols = dist_df.columns
    word_df = pd.DataFrame(df['unigrams'].values.tolist())
    for val_col in val_map_cols:
        temp=pd.DataFrame()
        for col in word_df.columns:            
            temp[col] = word_df[col].map(dist_df[val_col])
        col_name = 'uni_' + val_col
        combined_df[col_name] = temp.values.tolist()
        combined_df[col_name] = combined_df[col_name].apply(lambda r: [x for x in r if ~np.isnan(x)])
    return combined_df

In [318]:
unigram_vals_df = create_val_map_df(X_train, unigram_dist_df)

In [248]:
unigram_vals_df.head()

,uni_total_ct,uni_tar_ct,uni_tar_rate,uni_log2_total_ct,uni_log_total_ct,uni_log10_total_ct,uni_log2_tar_score,uni_log_tar_score,uni_log10_tar_score
0,"[1.0, 14.0, 8.0, 48.0, 105.0, 44.0, 42.0]","[0.0, 0.0, 8.0, 6.0, 3.0, 8.0, 2.0]","[0.0, 0.0, 1.0, 0.125, 0.02857142857142857, 0....","[0.0, 3.807354922057604, 3.0, 5.58496250072115...","[0.0, 2.6390573296152584, 2.0794415416798357, ...","[0.0, 1.146128035678238, 0.9030899869919435, 1...","[0.0, 0.0, 3.0, 0.6981203125901445, 0.19183558...","[0.0, 0.0, 2.0794415416798357, 0.4839001263634...","[0.0, 0.0, 0.9030899869919435, 0.2101551546719..."
1,"[64.0, 103.0]","[53.0, 59.0]","[0.828125, 0.5728155339805825]","[6.0, 6.6865005271832185]","[4.1588830833596715, 4.634728988229636]","[1.806179973983887, 2.012837224705172]","[4.96875, 3.8301313699399016]","[3.4440750534072277, 2.654844760248044]","[1.4957427909554064, 1.1529844296854868]"
2,"[13.0, 39.0, 42.0, 5.0, 41.0, 41.0, 41.0, 41.0]","[1.0, 3.0, 2.0, 5.0, 0.0, 0.0, 0.0, 0.0]","[0.07692307692307693, 0.07692307692307693, 0.0...","[3.700439718141092, 5.285402218862249, 5.39231...","[2.5649493574615367, 3.6635616461296463, 3.737...","[1.1139433523068367, 1.591064607026499, 1.6232...","[0.28464920908777636, 0.4065694014509422, 0.25...","[0.19730379672781054, 0.2818124343176651, 0.17...","[0.08568795017744898, 0.12238958515588455, 0.0..."
3,"[2.0, 2.0, 13.0, 4.0, 2.0, 4.0, 4.0, 5.0, 1.0,...","[2.0, 2.0, 3.0, 4.0, 2.0, 4.0, 2.0, 1.0, 0.0, ...","[1.0, 1.0, 0.23076923076923078, 1.0, 1.0, 1.0,...","[1.0, 1.0, 3.700439718141092, 2.0, 1.0, 2.0, 2...","[0.6931471805599453, 0.6931471805599453, 2.564...","[0.3010299956639812, 0.3010299956639812, 1.113...","[1.0, 1.0, 0.8539476272633291, 2.0, 1.0, 2.0, ...","[0.6931471805599453, 0.6931471805599453, 0.591...","[0.3010299956639812, 0.3010299956639812, 0.257..."
4,"[8.0, 4.0, 49.0, 1.0, 2.0]","[0.0, 1.0, 5.0, 0.0, 0.0]","[0.0, 0.25, 0.10204081632653061, 0.0, 0.0]","[3.0, 2.0, 5.614709844115208, 0.0, 1.0]","[2.0794415416798357, 1.3862943611198906, 3.891...","[0.9030899869919435, 0.6020599913279624, 1.690...","[0.0, 0.5, 0.5729295759301233, 0.0, 0.0]","[0.0, 0.34657359027997264, 0.39712452021537004...","[0.0, 0.1505149978319906, 0.1724689877580116, ..."

In [327]:
unigram_vals_df.loc[135, :]

uni_total_ct           NaN
uni_tar_ct              []
uni_tar_rate            []
uni_log2_total_ct       []
uni_log_total_ct        []
uni_log10_total_ct      []
uni_log2_tar_score      []
uni_log_tar_score       []
uni_log10_tar_score     []
Name: 135, dtype: object

In [325]:
unigram_vals_df.loc[unigram_vals_df['uni_total_ct'].str.len() == 0, 'uni_total_ct':'uni_log10_tar_score'] = np.nan

In [329]:
np.nanmax(np.nan)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning:

All-NaN axis encountered

nan

In [330]:
unigram_vals_df['uni_total_ct'].apply(lambda x: np.nanmax(x))

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning:

All-NaN axis encountered

0       105.0
1       103.0
2        42.0
3        34.0
4        49.0
        ...
3561    105.0
3562      3.0
3563     38.0
3564     49.0
3565     34.0
Name: uni_total_ct, Length: 3566, dtype: float64

In [251]:
max(unigram_vals_df.loc[0, 'uni_total_ct'])

105.0

In [282]:
unigram_vals_df.shape[0]

3566

In [283]:
for row in range(unigram_vals_df.shape[0]):
    print(row)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3141
3142
3143
3144
3145
3146
3147
3148
3149
3150
3151
3152
3153
3154
3155
3156
3157
3158
3159
3160
3161
3162
3163
3164
3165
3166
3167
3168
3169
3170
3171
3172
3173
3174
3175
3176
3177
3178
3179
3180
3181
3182
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3198
3199
3200
3201
3202
3203
3204
3205
3206
3207
3208
3209
3210
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3244
3245
3246
3247
3248
3249
3250
3251
3252
3253
3254
3255
3256
3257
3258
3259
3260
3261
3262
3263
3264
3265
3266
3267
3268
3269
3270
3271
3272
3273
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3288
3289
3290
3291
3292
3293
3294
3295
3296
3297
3298
3299
3300
3301
3302
3303
3304
3305
3306
3307
3308
3309
3310
3311
3312
3313
3314
3315
3316
3317
3318
3319
3320
3321
3322
3323
3324
3325
3326
3327
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3339
3340
3341
3342
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3354
3355
3356
3357
3358
3359
3360
3361
3362
3363
3364
3365
3366
3367
3368
3369
3370
3371
3372
3373
3374
3375
3376
3377
3378
3379
3380
3381
3382
3383
3384
3385
3386
3387
3388
3389
3390
3391
3392
3393
3394
3395
3396
3397
3398
3399
3400
3401
3402
3403
3404
3405
3406
3407
3408
3409
3410
3411
3412
3413
3414
3415
3416
3417
3418
3419
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3430
3431
3432
3433
3434
3435
3436
3437
3438
3439
3440
3441
3442
3443
3444
3445
3446
3447
3448
3449
3450
3451
3452
3453
3454
3455
3456
3457
3458
3459
3460
3461
3462
3463
3464
3465
3466
3467
3468
3469
3470
3471
3472
3473
3474
3475
3476
3477
3478
3479
3480
3481
3482
3483
3484
3485
3486
3487
3488
3489
3490
3491
3492
3493
3494
3495
3496
3497
3498
3499
3500
3501
3502
3503
3504
3505
3506
3507
3508
3509
3510
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3526
3527
3528
3529
3530
3531
3532
3533
3534
3535
3536
3537
3538
3539
3540
3541
3542
3543
3544
3545
3546
3547
3548
3549
3550
3551
3552
3553
3554
3555
3556
3557
3558
3559
3560
3561
3562
3563
3564
3565

In [280]:
unigram_vals_df.loc[0, 'uni_total_ct']

[1.0, 14.0, 8.0, 48.0, 105.0, 44.0, 42.0]

In [293]:
X_train.head()

,text,char_count,word_count,ltr_count,ltr_ratio,spec_char_count,spec_char_ratio,num_count,num_ratio,vowel_count,...,min_word_len,word_len_range,word_diversity,avg_word_len,repeat_ltrs,repeat_ltr_count,repeat_ltr_ratio,unigrams,bigrams,trigrams
1938,The fact that you're cleaning shows you know w...,133,28,99,0.744361,9,0.067669,0,0.000000,42,...,1,9,0.785714,4.750000,[],0,0.000000,"[fact, youre, cleaning, shows, know, im, upset...","[(fact, youre), (youre, cleaning), (cleaning, ...","[(fact, youre, cleaning), (youre, cleaning, sh..."
495,Are you free now?can i call now?,32,8,24,0.750000,2,0.062500,0,0.000000,12,...,1,5,0.875000,4.000000,[],0,0.000000,"[free, nowcan, call]","[(free, nowcan), (nowcan, call)]","[(free, nowcan, call)]"
3798,For The First Time In The History 'Need' 'Comf...,180,33,115,0.638889,36,0.200000,0,0.000000,39,...,2,6,0.636364,5.454545,[],0,0.000000,"[first, time, history, need, comfort, luxury, ...","[(first, time), (time, history), (history, nee...","[(first, time, history), (time, history, need)..."
1876,HMV BONUS SPECIAL 500 pounds of genuine HMV vo...,155,29,112,0.722581,7,0.045161,4,0.025806,42,...,2,19,0.655172,5.344828,[infowwwpercentrealcom],1,0.034483,"[hmv, bonus, special, pounds, genuine, hmv, vo...","[(hmv, bonus), (bonus, special), (special, pou...","[(hmv, bonus, special), (bonus, special, pound..."
2580,I dunno until when... Lets go learn pilates...,46,8,33,0.717391,6,0.130435,0,0.000000,13,...,1,6,1.000000,5.750000,[],0,0.000000,"[dunno, lets, go, learn, pilates]","[(dunno, lets), (lets, go), (go, learn), (lear...","[(dunno, lets, go), (lets, go, learn), (go, le..."

In [294]:
X_train.iloc[135, :]

text                      G.W.R
char_count                    5
word_count                    3
ltr_count                     3
ltr_ratio                   0.6
spec_char_count               2
spec_char_ratio             0.4
num_count                     0
num_ratio                     0
vowel_count                   0
vowel_ratio                   0
caps_count                    3
caps_ratio                  0.6
newline_tab_count             0
newline_tab_ratio             0
qwerty_count                  0
qwerty_ratio                  0
no_punct_tokens           [gwr]
distinct_word_count           1
max_word_len                  3
min_word_len                  3
word_len_range                0
word_diversity         0.333333
avg_word_len            1.66667
repeat_ltrs                  []
repeat_ltr_count              0
repeat_ltr_ratio              0
unigrams                  [gwr]
bigrams                      []
trigrams                     []
Name: 4293, dtype: object

In [291]:
unigram_vals_df.loc[135, :]

uni_total_ct           []
uni_tar_ct             []
uni_tar_rate           []
uni_log2_total_ct      []
uni_log_total_ct       []
uni_log10_total_ct     []
uni_log2_tar_score     []
uni_log_tar_score      []
uni_log10_tar_score    []
Name: 135, dtype: object

In [299]:
for i, row in enumerate(range(unigram_vals_df.shape[0])):
    if unigram_vals_df.loc[row, 'uni_total_ct']:
        print(i, max(unigram_vals_df.loc[row, 'uni_total_ct']))

0 105.0
1 103.0
2 42.0
3 34.0
4 49.0
5 2.0
6 31.0
7 105.0
8 103.0
9 85.0
10 57.0
11 9.0
12 24.0
13 213.0
14 37.0
15 49.0
16 23.0
17 5.0
18 213.0
19 44.0
20 31.0
21 213.0
22 2.0
23 213.0
24 213.0
25 54.0
26 39.0
27 41.0
28 44.0
29 12.0
30 213.0
31 19.0
32 19.0
33 103.0
34 105.0
35 36.0
36 64.0
37 69.0
38 14.0
39 69.0
40 213.0
41 49.0
42 103.0
43 57.0
44 48.0
45 103.0
46 105.0
47 103.0
48 103.0
49 41.0
50 49.0
51 213.0
52 103.0
53 69.0
54 3.0
55 64.0
56 213.0
57 34.0
58 213.0
59 6.0
60 48.0
61 9.0
62 32.0
63 2.0
64 105.0
65 24.0
66 213.0
67 69.0
68 105.0
69 213.0
70 22.0
71 41.0
72 13.0
73 69.0
74 105.0
75 22.0
76 12.0
77 21.0
78 54.0
79 105.0
80 36.0
81 64.0
82 64.0
83 213.0
84 7.0
85 65.0
86 64.0
87 11.0
88 69.0
89 69.0
90 213.0
91 103.0
92 103.0
93 4.0
94 28.0
95 65.0
96 213.0
97 213.0
98 105.0
99 213.0
100 213.0
101 49.0
102 40.0
103 31.0
104 44.0
105 213.0
106 213.0
107 41.0
108 6.0
109 103.0
110 105.0
111 34.0
112 44.0
113 213.0
114 213.0
115 85.0
116 65.0
117 62.0
118 44.0
119 213.0
120 62.0
121 85.0
122 27.0
123 38.0
124 11.0
125 19.0
126 15.0
127 37.0
128 103.0
129 21.0
130 1.0
131 37.0
132 57.0
133 105.0
134 103.0
136 69.0
137 103.0
138 213.0
139 44.0
140 64.0
141 20.0
142 69.0
144 10.0
145 4.0
146 103.0
147 57.0
148 213.0
149 103.0
150 85.0
151 15.0
152 7.0
153 48.0
154 46.0
155 41.0
156 64.0
157 14.0
158 12.0
159 213.0
160 103.0
161 24.0
162 105.0
163 8.0
164 27.0
165 57.0
166 31.0
167 105.0
168 46.0
169 12.0
170 213.0
171 213.0
172 41.0
173 12.0
174 39.0
175 103.0
176 85.0
177 44.0
178 21.0
179 24.0
180 44.0
181 35.0
182 57.0
183 85.0
184 103.0
185 57.0
186 213.0
187 44.0
188 39.0
189 14.0
190 213.0
191 64.0
192 44.0
193 18.0
194 69.0
195 105.0
196 10.0
197 15.0
198 213.0
199 213.0
200 105.0
201 49.0
202 49.0
203 213.0
204 213.0
205 103.0
206 103.0
207 39.0
208 105.0
209 62.0
210 39.0
211 213.0
212 65.0
213 105.0
214 57.0
215 213.0
216 213.0
217 85.0
218 213.0
219 39.0
220 85.0
221 213.0
222 103.0
223 14.0
224 24.0
225 9.0
226 65.0
227 9.0
228 103.0
229 103.0
230 10.0
231 103.0
232 15.0
233 69.0
234 105.0
235 213.0
236 103.0
237 11.0
238 2.0
239 48.0
240 213.0
241 15.0
242 4.0
243 85.0
244 41.0
245 105.0
246 54.0
247 39.0
248 48.0
249 37.0
250 103.0
251 103.0
252 34.0
253 105.0
254 19.0
255 44.0
256 103.0
257 64.0
258 22.0
259 44.0
260 213.0
261 9.0
262 103.0
263 65.0
264 12.0
265 16.0
266 44.0
268 57.0
269 31.0
270 103.0
271 49.0
272 105.0
273 49.0
274 213.0
275 21.0
276 57.0
277 62.0
278 11.0
279 213.0
280 44.0
281 49.0
282 11.0
283 69.0
284 27.0
285 213.0
286 21.0
287 15.0
288 48.0
289 62.0
290 103.0
291 62.0
292 37.0
293 39.0
294 213.0
295 54.0
296 69.0
297 213.0
298 62.0
299 103.0
300 69.0
301 65.0
302 42.0
303 62.0
304 69.0
305 48.0
306 13.0
307 13.0
308 62.0
309 38.0
310 103.0
311 69.0
312 32.0
313 13.0
314 23.0
315 2.0
316 57.0
317 213.0
318 40.0
319 213.0
320 34.0
321 27.0
322 213.0
323 24.0
324 105.0
325 213.0
326 105.0
327 103.0
328 12.0
329 30.0
330 213.0
331 213.0
332 49.0
333 14.0
334 85.0
335 213.0
336 42.0
337 103.0
338 65.0
339 213.0
340 24.0
341 49.0
342 213.0
343 35.0
344 20.0
345 62.0
346 213.0
347 105.0
348 57.0
349 21.0
350 15.0
351 213.0
352 69.0
353 41.0
354 213.0
355 103.0
356 37.0
357 57.0
358 28.0
359 48.0
360 213.0
361 69.0
362 105.0
363 69.0
364 32.0
365 105.0
366 103.0
367 85.0
368 69.0
369 18.0
370 9.0
371 41.0
372 213.0
373 69.0
374 65.0
375 39.0
377 17.0
378 69.0
379 11.0
380 57.0
381 103.0
382 38.0
383 64.0
384 103.0
385 18.0
386 48.0
388 103.0
389 213.0
390 105.0
391 103.0
392 37.0
393 48.0
394 57.0
395 213.0
396 105.0
397 28.0
398 103.0
399 38.0
400 62.0
401 37.0
402 213.0
403 44.0
404 2.0
405 19.0
406 24.0
407 65.0
408 37.0
409 65.0
410 14.0
411 49.0
412 213.0
413 39.0
414 37.0
415 1.0
416 105.0
417 213.0
418 105.0
419 48.0
420 69.0
421 65.0
422 103.0
423 38.0
424 213.0
425 213.0
426 213.0
427 2.0
428 213.0
430 18.0
431 6.0
432 213.0
433 64.0
434 11.0
435 57.0
436 213.0
437 57.0
438 42.0
439 39.0
440 65.0
441 103.0
442 54.0
443 213.0
444 1.0
445 213.0
446 103.0
447 44.0
448 30.0
449 4.0
450 34.0
451 16.0
452 39.0
453 48.0
454 65.0
455 213.0
456 28.0
457 11.0
458 213.0
459 14.0
460 65.0
461 69.0
462 49.0
463 29.0
464 85.0
465 3.0
466 213.0
467 85.0
468 6.0
469 69.0
470 30.0
471 103.0
472 39.0
473 9.0
474 39.0
475 5.0
476 105.0
477 213.0
478 12.0
479 10.0
480 49.0
481 103.0
483 37.0
484 39.0
485 85.0
486 15.0
487 103.0
488 29.0
489 9.0
490 23.0
491 213.0
492 49.0
493 9.0
495 38.0
496 39.0
497 44.0
498 39.0
499 213.0
500 31.0
501 41.0
502 44.0
503 11.0
504 30.0
505 57.0
506 21.0
507 49.0
508 213.0
509 213.0
510 15.0
511 213.0
512 213.0
513 213.0
514 46.0
515 65.0
516 85.0
517 6.0
518 103.0
519 48.0
520 85.0
521 28.0
522 64.0
523 32.0
524 44.0
525 103.0
526 65.0
527 62.0
528 69.0
529 14.0
530 14.0
531 32.0
532 46.0
533 103.0
534 48.0
535 14.0
536 13.0
537 10.0
538 54.0
539 33.0
540 213.0
541 213.0
542 18.0
543 42.0
544 6.0
545 213.0
546 105.0
547 213.0
548 32.0
549 54.0
550 213.0
551 62.0
552 213.0
553 31.0
554 57.0
555 213.0
556 62.0
557 213.0
558 18.0
559 103.0
560 6.0
561 42.0
562 4.0
563 39.0
564 22.0
565 9.0
566 24.0
567 85.0
568 44.0
570 65.0
571 69.0
572 30.0
573 105.0
574 213.0
575 8.0
576 31.0
577 213.0
578 17.0
579 9.0
580 8.0
581 24.0
582 65.0
583 213.0
585 3.0
586 49.0
587 105.0
588 105.0
589 49.0
590 2.0
591 65.0
592 7.0
593 11.0
594 39.0
595 23.0
596 39.0
597 57.0
598 103.0
599 44.0
600 69.0
601 69.0
602 41.0
603 103.0
604 65.0
605 8.0
606 213.0
607 19.0
608 105.0
609 14.0
610 213.0
611 103.0
612 49.0
613 39.0
614 57.0
615 213.0
616 69.0
617 62.0
618 2.0
619 32.0
620 16.0
621 213.0
622 105.0
623 12.0
624 32.0
625 213.0
626 105.0
627 85.0
628 105.0
629 69.0
630 17.0
631 14.0
632 103.0
633 44.0
634 10.0
635 213.0
637 213.0
638 49.0
639 213.0
640 10.0
641 105.0
642 213.0
643 49.0
644 39.0
645 8.0
646 103.0
647 46.0
648 65.0
649 22.0
650 27.0
651 38.0
652 105.0
653 44.0
654 103.0
655 18.0
656 19.0
657 69.0
658 49.0
659 11.0
660 2.0
661 13.0
662 213.0
663 65.0
664 16.0
665 29.0
666 85.0
667 32.0
668 39.0
669 213.0
670 20.0
671 213.0
672 39.0
673 24.0
674 38.0
675 31.0
676 34.0
677 24.0
678 105.0
679 103.0
680 85.0
681 37.0
682 85.0
683 24.0
684 19.0
685 14.0
686 213.0
687 2.0
688 213.0
689 14.0
690 103.0
691 34.0
692 49.0
693 8.0
694 38.0
695 32.0
696 69.0
697 49.0
698 213.0
699 9.0
700 13.0
701 16.0
702 14.0
703 49.0
704 213.0
705 14.0
706 213.0
707 103.0
708 44.0
709 28.0
710 105.0
711 49.0
712 105.0
713 85.0
714 57.0
715 21.0
716 57.0
717 49.0
718 213.0
719 103.0
720 41.0
721 49.0
722 57.0
723 48.0
724 62.0
725 57.0
726 65.0
727 39.0
728 65.0
729 213.0
730 11.0
731 48.0
732 213.0
733 57.0
734 62.0
735 49.0
736 85.0
737 14.0
738 65.0
739 213.0
740 213.0
741 23.0
742 103.0
743 6.0
744 30.0
745 213.0
746 13.0
747 213.0
748 13.0
749 12.0
750 8.0
751 69.0
752 39.0
753 7.0
754 213.0
755 44.0
756 213.0
757 105.0
758 213.0
759 37.0
760 30.0
761 30.0
762 103.0
763 34.0
764 24.0
765 213.0
766 49.0
767 69.0
768 103.0
769 69.0
770 103.0
771 48.0
772 57.0
773 49.0
774 213.0
775 22.0
777 27.0
778 37.0
779 10.0
780 48.0
781 21.0
782 42.0
783 46.0
784 24.0
785 23.0
786 213.0
787 213.0
788 28.0
789 105.0
790 8.0
791 42.0
792 64.0
793 103.0
794 3.0
795 18.0
796 21.0
797 36.0
798 7.0
799 213.0
800 14.0
801 14.0
802 21.0
803 15.0
804 24.0
805 57.0
806 64.0
807 62.0
808 105.0
809 213.0
810 10.0
811 48.0
812 44.0
813 8.0
814 65.0
815 57.0
817 28.0
818 103.0
819 38.0
820 31.0
821 49.0
822 213.0
823 213.0
824 19.0
825 41.0
826 49.0
827 33.0
828 42.0
829 103.0
830 65.0
831 213.0
832 28.0
833 10.0
834 41.0
835 65.0
836 64.0
837 8.0
838 44.0
839 39.0
840 48.0
841 37.0
842 64.0
843 62.0
844 9.0
845 4.0
846 49.0
847 213.0
848 65.0
849 28.0
850 10.0
851 20.0
852 22.0
853 49.0
854 213.0
855 31.0
856 21.0
857 11.0
858 103.0
859 213.0
860 213.0
861 103.0
862 38.0
863 3.0
864 48.0
865 37.0
866 24.0
867 5.0
868 8.0
869 37.0
870 31.0
871 213.0
872 21.0
873 103.0
874 49.0
875 41.0
876 46.0
877 65.0
878 44.0
879 62.0
880 213.0
881 39.0
882 62.0
883 34.0
884 105.0
885 36.0
886 14.0
887 41.0
888 2.0
889 213.0
890 14.0
891 4.0
892 213.0
893 65.0
894 7.0
895 105.0
896 48.0
897 14.0
898 20.0
899 23.0
900 85.0
901 213.0
902 33.0
903 213.0
904 37.0
905 18.0
906 69.0
907 44.0
908 69.0
909 105.0
910 44.0
911 3.0
912 41.0
913 85.0
914 213.0
915 31.0
916 40.0
917 18.0
918 49.0
919 65.0
920 62.0
921 46.0
922 10.0
923 105.0
924 69.0
925 28.0
926 9.0
927 105.0
928 213.0
929 65.0
930 103.0
931 213.0
932 49.0
933 57.0
934 19.0
935 213.0
936 57.0
937 38.0
938 213.0
939 62.0
941 8.0
942 8.0
943 44.0
944 64.0
945 213.0
946 40.0
947 23.0
948 64.0
949 65.0
950 85.0
951 49.0
952 105.0
953 49.0
954 103.0
955 65.0
956 5.0
957 213.0
958 213.0
959 3.0
960 35.0
961 48.0
962 44.0
963 31.0
964 103.0
965 29.0
966 27.0
967 46.0
968 22.0
969 29.0
970 103.0
971 8.0
972 213.0
973 46.0
974 49.0
975 103.0
976 44.0
977 2.0
978 39.0
979 105.0
980 1.0
981 44.0
982 105.0
983 213.0
984 105.0
985 103.0
986 65.0
987 46.0
988 24.0
989 32.0
990 62.0
991 7.0
992 35.0
993 30.0
994 213.0
995 213.0
996 213.0
997 22.0
998 105.0
999 213.0
1000 28.0
1001 1.0
1002 14.0
1003 7.0
1004 10.0
1005 85.0
1006 49.0
1007 103.0
1008 69.0
1009 23.0
1010 65.0
1011 62.0
1012 69.0
1013 103.0
1014 213.0
1015 69.0
1016 44.0
1017 105.0
1018 28.0
1019 37.0
1020 44.0
1021 85.0
1022 44.0
1023 28.0
1024 30.0
1025 46.0
1026 13.0
1027 46.0
1028 103.0
1029 24.0
1030 39.0
1031 19.0
1032 46.0
1033 213.0
1034 39.0
1036 36.0
1037 105.0
1038 42.0
1039 31.0
1040 16.0
1041 69.0
1042 11.0
1043 32.0
1044 62.0
1045 213.0
1046 105.0
1047 213.0
1048 105.0
1049 3.0
1050 4.0
1051 10.0
1052 213.0
1053 27.0
1054 103.0
1055 65.0
1056 65.0
1057 69.0
1058 65.0
1059 69.0
1060 21.0
1061 105.0
1062 10.0
1063 65.0
1064 213.0
1065 6.0
1066 103.0
1067 38.0
1068 17.0
1069 69.0
1070 41.0
1071 28.0
1072 213.0
1073 10.0
1074 46.0
1075 49.0
1076 62.0
1077 105.0
1078 213.0
1079 44.0
1080 20.0
1081 18.0
1082 24.0
1083 44.0
1084 39.0
1085 65.0
1086 105.0
1087 85.0
1088 213.0
1089 213.0
1090 62.0
1091 25.0
1092 62.0
1093 41.0
1094 213.0
1095 62.0
1096 213.0
1097 69.0
1098 69.0
1099 213.0
1100 213.0
1101 65.0
1102 69.0
1103 31.0
1104 48.0
1105 62.0
1106 44.0
1107 105.0
1108 34.0
1109 103.0
1110 213.0
1111 213.0
1112 105.0
1113 34.0
1114 213.0
1115 49.0
1116 213.0
1117 213.0
1118 103.0
1119 30.0
1120 105.0
1121 28.0
1122 48.0
1123 69.0
1124 44.0
1125 16.0
1126 30.0
1127 69.0
1128 103.0
1129 85.0
1130 27.0
1131 65.0
1132 64.0
1133 2.0
1134 85.0
1135 105.0
1136 20.0
1137 103.0
1138 213.0
1139 85.0
1140 2.0
1141 31.0
1142 213.0
1143 44.0
1144 49.0
1145 103.0
1146 49.0
1147 11.0
1148 46.0
1149 213.0
1150 103.0
1151 213.0
1152 37.0
1153 10.0
1154 85.0
1155 27.0
1156 105.0
1157 29.0
1158 48.0
1159 1.0
1160 34.0
1161 39.0
1162 103.0
1163 12.0
1164 103.0
1165 64.0
1166 62.0
1167 42.0
1168 103.0
1169 213.0
1170 49.0
1171 105.0
1172 11.0
1173 105.0
1174 64.0
1175 49.0
1176 85.0
1177 8.0
1178 24.0
1179 213.0
1180 85.0
1181 213.0
1182 48.0
1183 213.0
1184 213.0
1185 213.0
1186 103.0
1187 85.0
1188 105.0
1189 213.0
1190 34.0
1191 213.0
1192 105.0
1193 8.0
1194 38.0
1195 13.0
1196 24.0
1197 28.0
1198 39.0
1199 69.0
1200 24.0
1201 33.0
1202 213.0
1203 54.0
1204 62.0
1205 103.0
1206 12.0
1207 213.0
1208 103.0
1209 54.0
1210 103.0
1211 65.0
1212 85.0
1213 8.0
1215 24.0
1216 62.0
1217 24.0
1218 213.0
1219 34.0
1220 62.0
1221 17.0
1222 48.0
1223 62.0
1224 44.0
1225 57.0
1226 41.0
1227 213.0
1228 34.0
1229 69.0
1230 28.0
1231 213.0
1232 3.0
1233 31.0
1234 105.0
1235 69.0
1236 11.0
1237 213.0
1238 6.0
1239 6.0
1240 28.0
1241 103.0
1242 30.0
1243 22.0
1244 105.0
1245 213.0
1246 213.0
1247 105.0
1248 62.0
1249 57.0
1250 28.0
1251 46.0
1252 103.0
1253 57.0
1254 31.0
1255 18.0
1256 213.0
1257 64.0
1258 213.0
1259 11.0
1260 103.0
1261 41.0
1262 105.0
1263 30.0
1264 62.0
1265 213.0
1267 11.0
1268 213.0
1269 30.0
1270 85.0
1271 69.0
1272 213.0
1273 2.0
1274 6.0
1275 103.0
1276 44.0
1277 34.0
1278 213.0
1279 65.0
1280 29.0
1281 7.0
1282 24.0
1283 44.0
1284 57.0
1285 105.0
1286 85.0
1287 6.0
1288 10.0
1289 1.0
1290 2.0
1291 103.0
1292 14.0
1293 65.0
1294 105.0
1295 9.0
1296 213.0
1297 30.0
1298 41.0
1299 35.0
1300 69.0
1301 49.0
1302 62.0
1303 103.0
1304 213.0
1305 18.0
1306 213.0
1307 105.0
1308 69.0
1309 15.0
1310 41.0
1311 103.0
1312 103.0
1313 9.0
1314 213.0
1316 65.0
1317 6.0
1318 105.0
1319 39.0
1320 62.0
1321 24.0
1322 46.0
1323 213.0
1324 22.0
1325 213.0
1326 8.0
1327 21.0
1328 213.0
1329 24.0
1330 44.0
1331 85.0
1332 213.0
1333 49.0
1334 65.0
1335 213.0
1336 103.0
1337 31.0
1338 30.0
1339 213.0
1340 39.0
1341 213.0
1342 15.0
1343 3.0
1344 65.0
1345 69.0
1346 44.0
1347 21.0
1348 48.0
1349 16.0
1350 213.0
1351 39.0
1352 213.0
1353 57.0
1354 103.0
1355 31.0
1356 213.0
1357 41.0
1358 69.0
1359 24.0
1360 39.0
1361 36.0
1362 15.0
1363 213.0
1364 213.0
1365 213.0
1366 15.0
1367 2.0
1368 213.0
1369 4.0
1370 39.0
1371 69.0
1372 46.0
1373 34.0
1374 44.0
1375 14.0
1376 213.0
1377 105.0
1378 41.0
1379 105.0
1380 213.0
1381 105.0
1382 62.0
1383 48.0
1384 10.0
1385 14.0
1387 27.0
1388 57.0
1389 21.0
1390 20.0
1391 41.0
1392 213.0
1393 1.0
1394 8.0
1395 41.0
1396 213.0
1397 37.0
1398 65.0
1399 24.0
1400 18.0
1401 213.0
1402 11.0
1403 103.0
1404 28.0
1405 49.0
1406 34.0
1407 85.0
1408 103.0
1409 105.0
1410 213.0
1411 64.0
1412 49.0
1413 46.0
1414 69.0
1415 31.0
1416 33.0
1417 103.0
1418 65.0
1419 103.0
1420 49.0
1421 38.0
1422 28.0
1423 103.0
1424 105.0
1425 39.0
1426 213.0
1427 49.0
1428 39.0
1429 103.0
1430 105.0
1431 103.0
1432 62.0
1433 41.0
1434 213.0
1435 32.0
1436 69.0
1437 19.0
1438 15.0
1439 39.0
1440 57.0
1441 11.0
1442 69.0
1443 36.0
1444 49.0
1445 32.0
1446 105.0
1447 1.0
1448 213.0
1449 213.0
1450 3.0
1451 213.0
1452 5.0
1453 105.0
1454 29.0
1455 105.0
1456 105.0
1457 44.0
1458 213.0
1459 57.0
1460 103.0
1461 8.0
1462 16.0
1463 103.0
1464 105.0
1465 4.0
1466 103.0
1467 62.0
1468 24.0
1469 15.0
1470 22.0
1471 37.0
1472 30.0
1473 44.0
1474 49.0
1475 21.0
1476 213.0
1477 27.0
1478 213.0
1479 49.0
1480 4.0
1481 30.0
1482 103.0
1483 21.0
1484 46.0
1485 37.0
1486 49.0
1487 9.0
1488 1.0
1489 2.0
1490 7.0
1491 41.0
1492 65.0
1493 69.0
1494 44.0
1495 18.0
1496 24.0
1497 44.0
1498 17.0
1499 24.0
1500 103.0
1501 85.0
1502 213.0
1503 27.0
1504 20.0
1505 39.0
1506 7.0
1507 62.0
1508 57.0
1509 37.0
1510 85.0
1511 103.0
1512 85.0
1513 105.0
1514 38.0
1515 103.0
1516 213.0
1517 11.0
1518 85.0
1519 48.0
1520 105.0
1521 103.0
1522 213.0
1523 24.0
1524 85.0
1525 48.0
1526 39.0
1527 213.0
1528 85.0
1529 213.0
1530 103.0
1531 21.0
1532 85.0
1533 213.0
1534 10.0
1535 2.0
1536 39.0
1537 41.0
1538 14.0
1539 103.0
1540 38.0
1541 69.0
1542 15.0
1543 10.0
1544 49.0
1545 49.0
1546 49.0
1547 1.0
1548 21.0
1549 213.0
1550 38.0
1551 28.0
1552 10.0
1553 15.0
1554 213.0
1555 21.0
1556 28.0
1557 213.0
1558 24.0
1559 28.0
1560 213.0
1561 57.0
1562 28.0
1563 103.0
1564 1.0
1565 41.0
1566 1.0
1567 213.0
1568 69.0
1569 62.0
1570 57.0
1571 105.0
1572 17.0
1573 11.0
1574 48.0
1575 103.0
1576 13.0
1577 62.0
1578 44.0
1579 8.0
1580 65.0
1581 213.0
1582 103.0
1583 49.0
1584 103.0
1585 10.0
1586 62.0
1587 213.0
1588 62.0
1589 12.0
1590 24.0
1591 48.0
1592 65.0
1593 54.0
1594 13.0
1595 213.0
1596 62.0
1597 41.0
1598 85.0
1599 213.0
1600 29.0
1601 62.0
1602 30.0
1603 24.0
1604 28.0
1605 20.0
1606 39.0
1607 103.0
1608 105.0
1609 23.0
1610 213.0
1611 62.0
1613 4.0
1614 44.0
1615 213.0
1616 69.0
1617 69.0
1618 213.0
1619 6.0
1620 10.0
1621 35.0
1622 31.0
1623 21.0
1624 6.0
1625 85.0
1626 34.0
1627 3.0
1628 213.0
1629 213.0
1630 30.0
1631 85.0
1632 103.0
1633 37.0
1634 48.0
1635 213.0
1636 29.0
1637 37.0
1638 65.0
1639 105.0
1640 103.0
1641 19.0
1642 65.0
1643 213.0
1644 103.0
1645 69.0
1646 49.0
1647 65.0
1648 14.0
1649 64.0
1650 8.0
1651 213.0
1652 48.0
1653 13.0
1654 32.0
1655 7.0
1656 12.0
1657 213.0
1658 6.0
1659 37.0
1660 105.0
1661 14.0
1662 2.0
1663 39.0
1664 213.0
1665 105.0
1666 62.0
1667 22.0
1668 33.0
1669 36.0
1670 49.0
1671 28.0
1672 16.0
1673 49.0
1674 46.0
1675 28.0
1676 23.0
1677 13.0
1678 4.0
1679 38.0
1680 213.0
1681 39.0
1682 85.0
1683 105.0
1684 19.0
1685 85.0
1686 57.0
1687 12.0
1688 15.0
1689 85.0
1690 24.0
1691 213.0
1692 3.0
1693 8.0
1694 103.0
1695 20.0
1696 44.0
1697 57.0
1698 48.0
1699 213.0
1700 24.0
1701 7.0
1702 103.0
1703 213.0
1704 69.0
1705 39.0
1706 69.0
1707 31.0
1708 213.0
1709 105.0
1710 44.0
1711 3.0
1712 62.0
1713 213.0
1714 42.0
1715 105.0
1716 105.0
1717 213.0
1718 57.0
1719 29.0
1721 21.0
1722 213.0
1723 85.0
1724 37.0
1725 13.0
1726 65.0
1727 105.0
1728 105.0
1729 65.0
1730 4.0
1731 103.0
1732 49.0
1733 105.0
1734 5.0
1735 105.0
1736 30.0
1737 69.0
1738 105.0
1739 57.0
1741 65.0
1742 49.0
1743 85.0
1744 44.0
1745 49.0
1746 24.0
1747 34.0
1748 213.0
1749 213.0
1750 6.0
1751 44.0
1752 105.0
1753 44.0
1754 105.0
1755 213.0
1756 103.0
1757 213.0
1758 41.0
1759 6.0
1760 48.0
1761 57.0
1762 213.0
1763 213.0
1764 213.0
1765 21.0
1766 24.0
1767 69.0
1768 39.0
1769 57.0
1770 6.0
1771 213.0
1772 54.0
1773 85.0
1774 46.0
1775 6.0
1776 69.0
1777 65.0
1778 213.0
1779 65.0
1780 62.0
1781 49.0
1782 213.0
1783 38.0
1784 213.0
1785 103.0
1786 213.0
1787 44.0
1788 57.0
1789 105.0
1790 16.0
1791 103.0
1792 62.0
1793 44.0
1794 62.0
1795 41.0
1796 213.0
1797 2.0
1798 213.0
1799 213.0
1800 49.0
1801 49.0
1803 85.0
1804 65.0
1805 4.0
1806 64.0
1807 39.0
1808 29.0
1809 48.0
1811 22.0
1812 39.0
1813 30.0
1814 69.0
1815 105.0
1816 44.0
1817 34.0
1818 65.0
1819 1.0
1820 213.0
1821 1.0
1822 85.0
1823 69.0
1824 44.0
1825 38.0
1826 34.0
1827 3.0
1828 62.0
1829 103.0
1830 65.0
1831 20.0
1832 213.0
1833 103.0
1834 213.0
1835 213.0
1836 103.0
1837 57.0
1838 40.0
1839 103.0
1840 49.0
1841 38.0
1842 85.0
1843 22.0
1844 20.0
1845 105.0
1846 105.0
1847 69.0
1848 103.0
1849 213.0
1850 62.0
1851 31.0
1852 41.0
1853 1.0
1854 103.0
1856 10.0
1857 69.0
1858 213.0
1859 17.0
1860 103.0
1861 46.0
1862 57.0
1863 21.0
1864 103.0
1865 34.0
1866 213.0
1867 37.0
1868 46.0
1869 103.0
1870 105.0
1871 30.0
1872 7.0
1873 41.0
1874 14.0
1876 54.0
1877 30.0
1878 14.0
1879 20.0
1880 49.0
1881 21.0
1883 33.0
1884 85.0
1885 38.0
1886 27.0
1887 14.0
1888 213.0
1889 85.0
1890 48.0
1891 105.0
1892 105.0
1893 65.0
1894 1.0
1895 44.0
1896 18.0
1897 48.0
1898 44.0
1899 15.0
1900 11.0
1901 57.0
1902 35.0
1903 62.0
1904 69.0
1905 213.0
1906 57.0
1907 65.0
1908 213.0
1909 105.0
1910 49.0
1911 213.0
1912 103.0
1913 213.0
1914 37.0
1915 6.0
1916 213.0
1917 32.0
1918 24.0
1919 69.0
1920 85.0
1922 213.0
1923 30.0
1924 24.0
1925 213.0
1926 105.0
1927 105.0
1928 103.0
1929 48.0
1930 25.0
1932 85.0
1933 213.0
1934 105.0
1935 64.0
1936 213.0
1937 69.0
1938 64.0
1939 213.0
1940 105.0
1941 85.0
1942 37.0
1943 15.0
1944 44.0
1945 105.0
1946 213.0
1947 30.0
1948 69.0
1949 65.0
1950 44.0
1951 31.0
1952 22.0
1953 103.0
1954 103.0
1955 213.0
1956 39.0
1957 64.0
1958 213.0
1959 105.0
1960 69.0
1961 35.0
1962 44.0
1963 41.0
1964 105.0
1965 39.0
1966 32.0
1967 6.0
1968 12.0
1969 103.0
1970 32.0
1971 3.0
1972 213.0
1973 2.0
1974 46.0
1975 213.0
1976 105.0
1977 65.0
1978 44.0
1979 213.0
1980 103.0
1981 31.0
1982 48.0
1983 213.0
1984 105.0
1985 103.0
1986 34.0
1987 213.0
1988 62.0
1989 28.0
1990 7.0
1991 38.0
1992 34.0
1993 28.0
1994 24.0
1995 69.0
1996 103.0
1997 57.0
1998 85.0
1999 4.0
2000 213.0
2001 103.0
2002 105.0
2003 10.0
2004 46.0
2005 32.0
2006 103.0
2008 6.0
2009 48.0
2010 62.0
2011 69.0
2012 213.0
2013 69.0
2014 69.0
2015 213.0
2016 213.0
2017 41.0
2018 105.0
2019 19.0
2020 65.0
2021 14.0
2022 38.0
2023 4.0
2024 62.0
2025 213.0
2026 23.0
2027 48.0
2028 65.0
2029 41.0
2030 39.0
2031 49.0
2032 44.0
2033 213.0
2034 34.0
2035 44.0
2036 57.0
2037 37.0
2038 20.0
2039 41.0
2040 69.0
2041 65.0
2042 5.0
2043 20.0
2044 65.0
2045 49.0
2046 49.0
2047 44.0
2048 2.0
2049 69.0
2050 213.0
2051 57.0
2052 38.0
2053 29.0
2054 30.0
2055 65.0
2056 103.0
2057 22.0
2058 33.0
2059 31.0
2060 103.0
2061 37.0
2062 1.0
2063 69.0
2064 85.0
2065 18.0
2066 9.0
2067 213.0
2068 30.0
2069 62.0
2070 31.0
2071 14.0
2072 105.0
2073 34.0
2074 15.0
2075 213.0
2076 5.0
2077 213.0
2078 11.0
2079 28.0
2080 213.0
2081 103.0
2082 3.0
2083 48.0
2084 213.0
2085 105.0
2086 28.0
2087 18.0
2088 39.0
2089 64.0
2090 213.0
2091 105.0
2092 2.0
2093 103.0

In [275]:
for col in unigram_vals_df.columns:
    print(unigram_vals_df[col])

0               [1.0, 14.0, 8.0, 48.0, 105.0, 44.0, 42.0]
1                                           [64.0, 103.0]
2         [13.0, 39.0, 42.0, 5.0, 41.0, 41.0, 41.0, 41.0]
3       [2.0, 2.0, 13.0, 4.0, 2.0, 4.0, 4.0, 5.0, 1.0,...
4                              [8.0, 4.0, 49.0, 1.0, 2.0]
                              ...
3561    [105.0, 18.0, 5.0, 10.0, 2.0, 44.0, 31.0, 6.0,...
3562                                           [3.0, 2.0]
3563                    [3.0, 21.0, 38.0, 24.0, 1.0, 3.0]
3564                        [11.0, 42.0, 13.0, 3.0, 49.0]
3565         [1.0, 5.0, 4.0, 34.0, 5.0, 27.0, 10.0, 16.0]
Name: uni_total_ct, Length: 3566, dtype: object
0                     [0.0, 0.0, 8.0, 6.0, 3.0, 8.0, 2.0]
1                                            [53.0, 59.0]
2                [1.0, 3.0, 2.0, 5.0, 0.0, 0.0, 0.0, 0.0]
3       [2.0, 2.0, 3.0, 4.0, 2.0, 4.0, 2.0, 1.0, 0.0, ...
4                               [0.0, 1.0, 5.0, 0.0, 0.0]
                              ...
3561    [3.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 3.0, 0.0, ...
3562                                           [0.0, 0.0]
3563                      [0.0, 0.0, 25.0, 2.0, 0.0, 0.0]
3564                            [0.0, 2.0, 9.0, 1.0, 0.0]
3565             [0.0, 0.0, 0.0, 5.0, 0.0, 3.0, 0.0, 1.0]
Name: uni_tar_ct, Length: 3566, dtype: object
0       [0.0, 0.0, 1.0, 0.125, 0.02857142857142857, 0....
1                          [0.828125, 0.5728155339805825]
2       [0.07692307692307693, 0.07692307692307693, 0.0...
3       [1.0, 1.0, 0.23076923076923078, 1.0, 1.0, 1.0,...
4              [0.0, 0.25, 0.10204081632653061, 0.0, 0.0]
                              ...
3561    [0.02857142857142857, 0.0, 0.0, 0.0, 0.5, 0.02...
3562                                           [0.0, 0.0]
3563    [0.0, 0.0, 0.6578947368421053, 0.0833333333333...
3564    [0.0, 0.047619047619047616, 0.6923076923076923...
3565    [0.0, 0.0, 0.0, 0.14705882352941177, 0.0, 0.11...
Name: uni_tar_rate, Length: 3566, dtype: object
0       [0.0, 3.807354922057604, 3.0, 5.58496250072115...
1                               [6.0, 6.6865005271832185]
2       [3.700439718141092, 5.285402218862249, 5.39231...
3       [1.0, 1.0, 3.700439718141092, 2.0, 1.0, 2.0, 2...
4                 [3.0, 2.0, 5.614709844115208, 0.0, 1.0]
                              ...
3561    [6.714245517666122, 4.169925001442312, 2.32192...
3562                             [1.584962500721156, 1.0]
3563    [1.584962500721156, 4.392317422778761, 5.24792...
3564    [3.4594316186372973, 5.392317422778761, 3.7004...
3565    [0.0, 2.321928094887362, 2.0, 5.08746284125033...
Name: uni_log2_total_ct, Length: 3566, dtype: object
0       [0.0, 2.6390573296152584, 2.0794415416798357, ...
1                 [4.1588830833596715, 4.634728988229636]
2       [2.5649493574615367, 3.6635616461296463, 3.737...
3       [0.6931471805599453, 0.6931471805599453, 2.564...
4       [2.0794415416798357, 1.3862943611198906, 3.891...
                              ...
3561    [4.653960350157523, 2.8903717578961645, 1.6094...
3562             [1.0986122886681098, 0.6931471805599453]
3563    [1.0986122886681098, 3.044522437723423, 3.6375...
3564    [2.3978952727983707, 3.7376696182833684, 2.564...
3565    [0.0, 1.6094379124341003, 1.3862943611198906, ...
Name: uni_log_total_ct, Length: 3566, dtype: object
0       [0.0, 1.146128035678238, 0.9030899869919435, 1...
1                  [1.806179973983887, 2.012837224705172]
2       [1.1139433523068367, 1.591064607026499, 1.6232...
3       [0.3010299956639812, 0.3010299956639812, 1.113...
4       [0.9030899869919435, 0.6020599913279624, 1.690...
                              ...
3561    [2.0211892990699383, 1.255272505103306, 0.6989...
3562            [0.47712125471966244, 0.3010299956639812]
3563    [0.47712125471966244, 1.3222192947339193, 1.57...
3564    [1.0413926851582251, 1.6232492903979006, 1.113...
3565    [0.0, 0.6989700043360189, 0.6020599913279624, ...
Name: uni_log10_total_ct, Length: 3566, dtype: object
0       [0.0, 0.0, 3.0, 0.6981203125901445, 0.19183558...
1                           [4.96875, 3.8301313699399016]
2       [0.28464920908777636, 0.4065694014509422, 0.25...
3       [1.0, 1.0, 0.8539476272633291, 2.0, 1.0, 2.0, ...
4                [0.0, 0.5, 0.5729295759301233, 0.0, 0.0]
                              ...
3561    [0.19183558621903207, 0.0, 0.0, 0.0, 0.5, 0.12...
3562                                           [0.0, 0.0]
3563    [0.0, 0.0, 3.4525838904234116, 0.3820802083934...
3564    [0.0, 0.2567770201323219, 2.5618428817899868, ...
3565    [0.0, 0.0, 0.0, 0.7481563001838735, 0.0, 0.528...
Name: uni_log2_tar_score, Length: 3566, dtype: object
0       [0.0, 0.0, 2.0794415416798357, 0.4839001263634...
1                 [3.4440750534072277, 2.654844760248044]
2       [0.19730379672781054, 0.2818124343176651, 0.17...
3       [0.6931471805599453, 0.6931471805599453, 0.591...
4       [0.0, 0.34657359027997264, 0.39712452021537004...
                              ...
3561    [0.13297029571878638, 0.0, 0.0, 0.0, 0.3465735...
3562                                           [0.0, 0.0]
3563    [0.0, 0.0, 2.393148789293675, 0.26483781919566...
3564    [0.0, 0.17798426753730326, 1.7757341705502947,...
3565    [0.0, 0.0, 0.0, 0.518582430090612, 0.0, 0.3662...
Name: uni_log_tar_score, Length: 3566, dtype: object
0       [0.0, 0.0, 0.9030899869919435, 0.2101551546719...
1                [1.4957427909554064, 1.1529844296854868]
2       [0.08568795017744898, 0.12238958515588455, 0.0...
3       [0.3010299956639812, 0.3010299956639812, 0.257...
4       [0.0, 0.1505149978319906, 0.1724689877580116, ...
                              ...
3561    [0.05774826568771252, 0.0, 0.0, 0.0, 0.1505149...
3562                                           [0.0, 0.0]
3563    [0.0, 0.0, 1.039331313563691, 0.11501760347596...
3564    [0.0, 0.07729758525704288, 0.7711915515970408,...
3565    [0.0, 0.0, 0.0, 0.22521748780033166, 0.0, 0.15...
Name: uni_log10_tar_score, Length: 3566, dtype: object

In [20]:
for col in unigram_vals_df.columns:
    unigram_vals_df.loc[unigram_vals_df[col].str.len() == 0, col] = np.nan

In [21]:
unigram_vals_df.loc[135, :]

uni_total_ct           NaN
uni_tar_ct             NaN
uni_tar_rate           NaN
uni_log2_total_ct      NaN
uni_log_total_ct       NaN
uni_log10_total_ct     NaN
uni_log2_tar_score     NaN
uni_log_tar_score      NaN
uni_log10_tar_score    NaN
Name: 135, dtype: object

In [227]:
combined_df=pd.DataFrame()
val_map_cols = unigram_dist_df.columns

In [241]:
word_df = pd.DataFrame(X_train['unigrams'].values.tolist())
for val_col in val_map_cols:
    print(val_col)
    temp = pd.DataFrame()
    for col in word_df.columns:
#         temp[col] = word_df[col].map(unigram_dist_df[col])
#     print(temp.head())
        print(word_df[col].head(), unigram_dist_df[val_col].head())

total_ct
0     fact
1     free
2    first
3      hmv
4    dunno
Name: 0, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0     youre
1    nowcan
2      time
3     bonus
4      lets
Name: 1, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    cleaning
1        call
2     history
3     special
4          go
Name: 2, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0     shows
1      None
2      need
3    pounds
4     learn
Name: 3, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0       know
1       None
2    comfort
3    genuine
4    pilates
Name: 4, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0        im
1      None
2    luxury
3       hmv
4      None
Name: 5, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0       upset
1        None
2        sold
3    vouchers
4        None
Name: 6, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    priority
1        None
2       price
3      answer
4        None
Name: 7, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    constantly
1          None
2         india
3          easy
4          None
Name: 8, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0         want
1         None
2      onionrs
3    questions
4         None
Name: 9, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    need
1    None
2    ltgt
3    play
4    None
Name: 10, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0        None
1        None
2    petrolrs
3        send
4        None
Name: 11, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    ltgt
3     hmv
4    None
Name: 12, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0                     None
1                     None
2                   beerrs
3    infowwwpercentrealcom
4                     None
Name: 13, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    ltgt
3    None
4    None
Name: 14, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0      None
1      None
2    shesil
3      None
4      None
Name: 15, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    ltgt
3    None
4    None
Name: 16, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 17, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 18, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 19, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 20, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 21, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 22, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 23, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 24, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 25, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 26, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 27, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 28, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 29, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 30, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 31, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 32, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 33, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 34, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 35, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 36, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 37, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 38, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 39, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 40, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 41, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 42, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 43, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 44, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 45, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 46, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 47, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 48, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 49, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 50, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 51, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 52, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 53, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 54, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 55, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 56, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 57, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 58, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 59, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 60, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 61, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 62, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 63, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 64, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 65, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 66, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 67, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 68, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 69, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 70, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 71, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 72, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 73, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 74, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 75, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 76, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 77, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 78, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
0    None
1    None
2    None
3    None
4    None
Name: 79, dtype: object get       69
free      64
mobile    20
video      9
player     3
Name: total_ct, dtype: int64
tar_ct
0     fact
1     free
2    first
3      hmv
4    dunno
Name: 0, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0     youre
1    nowcan
2      time
3     bonus
4      lets
Name: 1, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    cleaning
1        call
2     history
3     special
4          go
Name: 2, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0     shows
1      None
2      need
3    pounds
4     learn
Name: 3, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0       know
1       None
2    comfort
3    genuine
4    pilates
Name: 4, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0        im
1      None
2    luxury
3       hmv
4      None
Name: 5, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0       upset
1        None
2        sold
3    vouchers
4        None
Name: 6, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    priority
1        None
2       price
3      answer
4        None
Name: 7, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    constantly
1          None
2         india
3          easy
4          None
Name: 8, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0         want
1         None
2      onionrs
3    questions
4         None
Name: 9, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    need
1    None
2    ltgt
3    play
4    None
Name: 10, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0        None
1        None
2    petrolrs
3        send
4        None
Name: 11, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    ltgt
3     hmv
4    None
Name: 12, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0                     None
1                     None
2                   beerrs
3    infowwwpercentrealcom
4                     None
Name: 13, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    ltgt
3    None
4    None
Name: 14, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0      None
1      None
2    shesil
3      None
4      None
Name: 15, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    ltgt
3    None
4    None
Name: 16, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 17, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 18, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 19, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 20, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 21, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 22, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 23, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 24, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 25, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 26, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 27, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 28, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 29, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 30, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 31, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 32, dtype: object get       16.0
free      53.0
mobile    18.0
video      9.0
player     2.0
Name: tar_ct, dtype: float64
0    None
1    None
2    None
3    None
4    None
Name: 33, dtype: object get       16.0
free      53.0
mobile    18.0