In [ ]:
# !pip install fuzzywuzzy
# !pip install python-Levenshtein
# !pip install rapidfuzz
# !pip install jaro-winkler

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
from time import gmtime, strftime
import sys
import os
import io

import string
import re
import itertools
import nltk
nltk.download('stopwords')

from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from rapidfuzz import fuzz as rfuzz
import jaro

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/julie.fisher/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv('../../github/icij_investigation/aws/data/edited/addresses_Bahamas.csv')
# df = pd.read_csv('../../icij_investigation/aws/data/edited/addresses_Bahamas.csv')

In [3]:
df.head()

,node_id,address,name,countries,country_codes,sourceID,valid_until,note
0,24000001,"ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
1,24000002,"SUITE E-2,UNION COURT BUILDING, P.O. BOX N-818...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
2,24000003,"LYFORD CAY HOUSE, LYFORD CAY, P.O. BOX N-7785,...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
3,24000004,"P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
4,24000005,"LYFORD CAY HOUSE, 3RD FLOOR, LYFORD CAY, P.O. ...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN

## To do

- [x] Standardize "&" to "and"
- [x] Lowercase everything
- [x] Remove puncutation
- [x] Standardize street names/abbreviations
- [x] Word counts
- Fuzzy matching

In [4]:
pd.set_option('display.max_colwidth', 1000)

## Create a new column for making changes

It's important to keep a copy of the original values. This makes it much easier to revert changes that don't perform as expected and also to reference if data is lost or to put it back into context.

In [5]:
df['working_address'] = df['address']

In [6]:
df['working_address']

0                                                                                   ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805, NASSAU, BAHAMAS
1                                                                                  SUITE E-2,UNION COURT BUILDING, P.O. BOX N-8188, NASSAU, BAHAMAS
2                                                                                    LYFORD CAY HOUSE, LYFORD CAY, P.O. BOX N-7785, NASSAU, BAHAMAS
3                                                P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O. BOX N-3708 SHIRLEY & CHARLOTTE STS, NASSAU, BAHAMAS
4                                                                         LYFORD CAY HOUSE, 3RD FLOOR, LYFORD CAY, P.O. BOX N-3024, NASSAU, BAHAMAS
                                                                           ...
2253                                                                        J.P.MORGAN TRUST COMPANY (BAHAMAS) LIMITED, NASSAU, N-4899, ZH, BAHAMAS
2254                                                                    MONTAGNE STERLINE CENTRE. EAST BAV STREET, NASSAU, COUNTRY BAHAMAS, BAHAMAS
2255                                                                                       DELTEC HOUSE, LYFORD CAY, PO BOX N-3229, NASSAU, BAHAMAS
2256                                                    PROVIDENCE HOUSE, HAST WING, EAST HILL STREET, P.O. BOX CB-12399, NASSAU, CB-12399, BAHAMAS
2257    C/OJ.P. MORGAN TRUST COMPANY (BAHAMAS) LIMITED, BAHAMAS FINANCIAL CENTER 2NTL FLOOR, SHIRLEY AND CHARLOTTE STREETS, NASSAU, N-4899, BAHAMAS
Name: working_address, Length: 2258, dtype: object

## Standardize values

Most matching algorithms are based on exact matches. Small changes can make using these common matching functions useless. Such changes include abbreviations like "st" and "blvd" for "street" and "boulevard", capitalization differences such as "Annex Frederick" vs "ANNEX FREDERICK", and punctuation such as "P.O. Box" vs "PO Box". As a general rule, the use of multiple representations for the same thing makes it harder to match like values.

Standardizing datasets makes finding patterns and trends much easier.

### Replace "&"

In the Bahamas addresses "&" and "and" are used interchangeably.

I did a quick sanity check to ensure that "&" wasn't being used in another way. There are only 326 rows that use "&". A quick perusal shows that most, if not all, are used to connect street names.

In [7]:
df.loc[df['working_address'].str.contains("&"), 'working_address']

0                                                                                  ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805, NASSAU, BAHAMAS
3                                               P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O. BOX N-3708 SHIRLEY & CHARLOTTE STS, NASSAU, BAHAMAS
8                                                                       BAYSIDE EXECUTIVE PARK, WEST BAY & BLAKE, P.O. BOX N-4875, NASSAU, BAHAMAS
10                                                      TK HOUSE, BAYSIDE EXECUTIVE PARK, P.O. BOX AP-59213 WEST BAY & BLAKE ROAD, NASSAU, BAHAMAS
11                                                                         BAYSIDE HOUSE WEST BAY & BLAKE ROAD, P.O. BOX AP-59213, NASSAU, BAHAMAS
                                                                           ...
2213                                                                    MARRON HOUSE, P.0. BOX N-4826, VIRGINIA & AUGUSTA STREETS, NASSAU, BAHAMAS
2214                                                                            WINTERBOTHAM PLACE, MARLBOROUGH & QUEEN STREETS, P.O BOX CB 11.343
2224                                                                                          BOLAM HOUSE, KINGS & GEORGES STREET, NASSAU, BAHAMAS
2232    C/O J.P. MORGAN TRUST COMPANY (BAHAMAS) LIMITED, 2ND FLOOR, BAHAMAS FINANCIAL CENTRE, SHIRLEY & CHARLOTTE STREETS, NASSAU, N-4899, BAHAMAS
2237       C/O JPMORGAN TRUST COMPANY (BAHAMAS) LIMITED, 2ND FLOOR, BAHAMAS FINANCIAL CENTRE, SHIRLEY & CHARLOTTE STREETS, NASSAU, N-4899, BAHAMAS
Name: working_address, Length: 326, dtype: object

### Lowercase everything

Different capitalization strategies quickly complicate an analysis as most value matching is based on exact matches.

In [8]:
df['working_address'] = df['address'].str.replace('&', 'and').str.lower()

In [9]:
df.loc[df['working_address'].str.contains("&"), 'working_address']

Series([], Name: working_address, dtype: object)

In [10]:
df['working_address']

0                                                                                 annex frederick and shirley sts, p.o. box n-4805, nassau, bahamas
1                                                                                  suite e-2,union court building, p.o. box n-8188, nassau, bahamas
2                                                                                    lyford cay house, lyford cay, p.o. box n-7785, nassau, bahamas
3                                              p.o. box n-3708 bahamas financial centre, p.o. box n-3708 shirley and charlotte sts, nassau, bahamas
4                                                                         lyford cay house, 3rd floor, lyford cay, p.o. box n-3024, nassau, bahamas
                                                                           ...
2253                                                                        j.p.morgan trust company (bahamas) limited, nassau, n-4899, zh, bahamas
2254                                                                    montagne sterline centre. east bav street, nassau, country bahamas, bahamas
2255                                                                                       deltec house, lyford cay, po box n-3229, nassau, bahamas
2256                                                    providence house, hast wing, east hill street, p.o. box cb-12399, nassau, cb-12399, bahamas
2257    c/oj.p. morgan trust company (bahamas) limited, bahamas financial center 2ntl floor, shirley and charlotte streets, nassau, n-4899, bahamas
Name: working_address, Length: 2258, dtype: object

### Remove punctuation

Punctuation can be particularly helpful in splitting fomratted text blocks into smaller pieces. However, there is no standardized format for these addresses, thus the punctuation actually makes pulling out relevant information harder in this dataset. As such, I'm going to get rid of it.

In [11]:
newline_list = '\t\r\n'
remove_newline = str.maketrans(' ', ' ', newline_list)
punct_list = string.punctuation + '—¿–'
nopunct = str.maketrans('', '', punct_list)

In [12]:
df['working_address'] = df['working_address'].str.translate(remove_newline).str.translate(nopunct)
df['working_address']

0                                                                            annex frederick and shirley sts po box n4805 nassau bahamas
1                                                                               suite e2union court building po box n8188 nassau bahamas
2                                                                                lyford cay house lyford cay po box n7785 nassau bahamas
3                                            po box n3708 bahamas financial centre po box n3708 shirley and charlotte sts nassau bahamas
4                                                                      lyford cay house 3rd floor lyford cay po box n3024 nassau bahamas
                                                                      ...
2253                                                                      jpmorgan trust company bahamas limited nassau n4899 zh bahamas
2254                                                             montagne sterline centre east bav street nassau country bahamas bahamas
2255                                                                                 deltec house lyford cay po box n3229 nassau bahamas
2256                                                   providence house hast wing east hill street po box cb12399 nassau cb12399 bahamas
2257    cojp morgan trust company bahamas limited bahamas financial center 2ntl floor shirley and charlotte streets nassau n4899 bahamas
Name: working_address, Length: 2258, dtype: object

### Standardize abbreviations

I got the majority of the abbreviations the hard way, I went though the dataset by hand. I was attempting to pull out the city name for each address that had a street in it. The only way to do this for many addresses was to look at the street, resulting in a lot of `contains` searches.

In the frequency count I also noticed that "p" and "o" occur rather frequently. A quick peek shows that in 84 rows "po box" is listed as "p o box". When doing replacements like these, it's important to do sanity checks as the results won't always be what you expect. One of my favorite examples was a search for "demon", I also got "demonstrate". Watch out for these kinds of things. Fortunately, in the "po box" example for the Bahamas addresses "p o" only occurs when for PO boxes.

There are also occurences of "pobox", but in joining "p" and "o" from "p o" gives me one last "pobox" so I'll need to apply this after the main abbreviation changes.

In [13]:
df.loc[df['working_address'].str.contains('p o'), 'working_address']

650                                                                              bitco building third floor p o box n8188 nassau bahamas
655                                                                  bolam house king and george streets p o box cb 11343 nassau bahamas
788                                                   landl corporate and legal services east bay street p o box ss 19812 nassau bahamas
801                                                                           malborough and queens street p o box n10429 nassau bahamas
818     morgan trust co of bahamas ltd the bahamas financial center 2nd floor charlotte and shorley street p o box n4899  nassau bahamas
                                                                      ...
2140                                                     montague sterling centre 3rd floor east bay street p o box n3242 nassau bahamas
2163                                                                      63 hollyock road p o box ap59223 slot 375 nassau 99001 bahamas
2164                                                                              63 hollyock road p o box ap59223 slot 375 nassau 99001
2168                                                              p o box ap59223 slot308 palatial estates lot  4 new providence ap59223
2220                                                       p o box cr56766 ste 875 — nassau bahamas — new providence np cr56766  bahamas
Name: working_address, Length: 84, dtype: object

In [14]:
df.loc[df['working_address'].str.contains('pobox'), 'working_address']

564                                                                              50 shirley streetpobox cb 13937 nassau bahamas
702                                          citibank building thompson boulevard pobox n1576 nassau new providence the bahamas
749                           fourth floor the bahamas financial centre shirley and charlotte streets pobox n3023 nassau bahmas
826     mossack fonseca and co bahams limited saffrey square suite 205 bank lane pobox n8188 nassau commonwealth of the bahamas
856                                                                                                  pobox n1491 nassau bahamas
867                                                                 pobox n3944 providence house east hill street nassau bahams
870                                                                                                 pobox n 4875 nassau bahamas
1025                               suite e2 union court building elizabeth avenue and shirley street pobox n8188 nassau bahamas
1109                                       the bahamas financial centre shirley an charlotte streets pobox n3023 nassau bahamas
1186                                                winterbotham place marleborough and queen street pobox n7523 nassau bahamas
1381                                                                  lyford manor west bay street pobox cb13012 nassau bahamas
1397                                                                                               pobox cb13039 nassau bahamas
1402                                                                  1st floor kings courtbay street pobox n3944 nassaubahamas
1409                                                                                 pobox n7757 east bay street nassau bahamas
1424                                                                                 east bay street pobox n7757 nassau bahamas
1428                                                                          43 elizabeth avenue pobox cb13022 naussau bahamas
1432                                                                                              pobox cb 13253 nassau bahamas
1450                                                                  charlotte house charlotte street pobox n55 nassau bahamas
1452                                         claughton house corner of shirley and charlotte streets pobox n7757 nassau bahamas
1453                                                                                               pobox n 10061 nassau bahamas
1476                                      the bahamas financial centre shirly and charlotte streets pobox n3023 nassau  bahamas
1582                                                                    11 governors cay sandyport pobox n  7115 nassau bahamas
1719                                                              2 greenway condominium lyford cay pobox n10267 nassau bahamas
1722                                                                  charlotte house charlotte secret pobox n65 nassau bahamas
1807                                                              bolam house king and george streets pobox n514 nassau bahamas
2123                                                             saffrey square suite 205 bank lane pobox n 8188 nassau bahamas
2143                                                         lennox paton corporate services limited pobox n4875 nassau bahamas
2150                                                ocean centre montagu foreshore east bay street pobox ss19084 nassau bahamas
2193                                                                 dominion house60montrose avenue pobox n9932 nassau bahamas
Name: working_address, dtype: object

#### The difficulties of "street"

Speaking of tricking searches, "st" was particularly interesting. Simply replacing "st" with "street" will also alter the following words:

- street: streetreet
- sts: streets
- west: westreet
- east: eastreet
- st: street

I compromised to look for " st " esentially ensuring there was a space before and after "st".

In [15]:
df.loc[df['working_address'].str.contains('(\sst\s)',regex=True), 'working_address']

<ipython-input-15-0a12ecad03d6>:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df.loc[df['working_address'].str.contains('(\sst\s)',regex=True), 'working_address']

7                                      providence house east wing east hill st po box cb12399 nassau bahamas
12                                                     308 east bay st 4th floor po box n7768 nassau bahamas
16                                    sassoon house shirley st and victoria ave po box ss5383 nassau bahamas
21                                      3rd floor one montague place east bay st po box n3231 nassau bahamas
34                                         31b annex building east bay st 2nd fl po box n3930 nassau bahamas
                                                        ...
2093                                     goodmans corporate center west bay st po box sp61567 nassau bahamas
2096                                   providence house east wing east hill st po box cb12399 nassau bahamas
2097                                  sassoon house shirley st and victoria ave po box ss5383 nassau bahamas
2104                                                 caves village west bay st po box sp63801 nassau bahamas
2127    trident corporate services bahamas limited providence house east hill st po box n3944 nassau bahamas
Name: working_address, Length: 72, dtype: object

In [16]:
abbrev_dict = {'\sst\s': 'street',
              'str\s': 'street',
              'streets': 'street',
              'sts': 'street',
              'blvd': 'boulevard',
              'sq\s': 'square',
              'dr\s': 'drive',
              'ave\s': 'avenue',
              '\sln': 'lane',
              'lanes': 'lane',
              'hwy': 'highway',
              '1st': 'first',
              '2nd': 'second',
              '2 nd': 'second',
              '3rd': 'third',
              '4th': 'fourth',
              '5th': 'fifth',
              '6th': 'sixth',
              '7th': 'seventh',
              '8th': 'eighth',
              '9th': 'ninth',
              'p o': 'po'}

In [17]:
df['working_address'] = df['working_address'].replace(abbrev_dict, regex=True)

In [18]:
df['working_address'] = df['working_address'].replace('pobox', 'po box')

In [30]:
df.to_csv('data/parsed_bahamas_addresses.csv', index=False)

## Count words

I frequently use word counts to determine any words I need to add to the stopword list (stopwords are words that occur frequently, such as 'the' or 'a' that don't add value to the analysis and should be removed).

In this case, I'm hoping it will bubble up things like cities, states, islands, and other address features that occur frequently in the data. I'm filling blank lines in with an empty string to help full dataset processing (i.e. I really don't want to deal with NANs).

In [19]:
df['address_wordlist'] = df['working_address'].fillna('').str.split()

In [20]:
def frequency_ct(ngram_list):
    freq_dict = {}
    for ngram in ngram_list:
        if ngram not in freq_dict:
            freq_dict[ngram] = 0
        freq_dict[ngram] +=1
    return freq_dict

In [21]:
freq_df = pd.DataFrame.from_dict(
    frequency_ct(df['address_wordlist'].sum()
                ), orient='index').reset_index().rename(
    columns={'index':'word', 0:'count'}).sort_values('count', ascending=False)

In [22]:
freq_df.shape

(2091, 2)

In [23]:
freq_df.head(60)

              word  count
9          bahamas   2311
8           nassau   2009
6              box   1451
5               po   1402
4           street   1045
2              and    612
3          shirley    477
10           suite    447
33             bay    397
13        building    326
17           house    317
21          centre    295
12           court    289
167         avenue    264
22       charlotte    247
1014         union    231
166      elizabeth    228
1013            e2    224
24           floor    218
113           bank    189
56             the    187
32            east    183
114           lane    176
20       financial    163
41            west    159
110         square    154
941        limited    145
14           n8188    142
109        saffrey    141
34      providence    129
385            new    116
477            205    110
194       freeport    107
15          lyford     89
52            road     86
48               n     85
196         bahama     84
16             cay     75
451             co     74
207          grand     74
237             of     73
162         second     69
183          trust     67
23           third     66
179         fourth     64
72           place     64
73     marlborough     61
457            ltd     60
46       corporate     57
140          drive     53
74           queen     50
81              cb     46
249         island     44
1003       company     44
71    winterbotham     44
86           n3023     38
191           hill     38
106          first     38
77        montague     38
45        goodmans     37

In [27]:
df.head()

,node_id,address,name,countries,country_codes,sourceID,valid_until,note,working_address,address_wordlist
0,24000001,"ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805, NASSAU, BAHAMAS",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,annex frederick and shirley street po box n4805 nassau bahamas,"[annex, frederick, and, shirley, street, po, box, n4805, nassau, bahamas]"
1,24000002,"SUITE E-2,UNION COURT BUILDING, P.O. BOX N-8188, NASSAU, BAHAMAS",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,suite e2union court building po box n8188 nassau bahamas,"[suite, e2union, court, building, po, box, n8188, nassau, bahamas]"
2,24000003,"LYFORD CAY HOUSE, LYFORD CAY, P.O. BOX N-7785, NASSAU, BAHAMAS",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,lyford cay house lyford cay po box n7785 nassau bahamas,"[lyford, cay, house, lyford, cay, po, box, n7785, nassau, bahamas]"
3,24000004,"P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O. BOX N-3708 SHIRLEY & CHARLOTTE STS, NASSAU, BAHAMAS",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,po box n3708 bahamas financial centre po box n3708 shirley and charlotte street nassau bahamas,"[po, box, n3708, bahamas, financial, centre, po, box, n3708, shirley, and, charlotte, street, nassau, bahamas]"
4,24000005,"LYFORD CAY HOUSE, 3RD FLOOR, LYFORD CAY, P.O. BOX N-3024, NASSAU, BAHAMAS",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,lyford cay house third floor lyford cay po box n3024 nassau bahamas,"[lyford, cay, house, third, floor, lyford, cay, po, box, n3024, nassau, bahamas]"

## Fuzzy matching

In [27]:
print('Sample 1:', df['working_address'][0])
print('Sample 2:', df['working_address'][1])

Sample 1: annex frederick and shirley street po box n4805 nassau bahamas
Sample 2: suite e2union court building po box n8188 nassau bahamas

### fuzzywuzzy implimentation

In [30]:
print('Ratio:', fuzz.ratio(df['working_address'][0], df['working_address'][1]))
print('Partial ratio:', fuzz.partial_ratio(df['working_address'][0], df['working_address'][1]))
print('Token sort ratio:', fuzz.token_sort_ratio(df['working_address'][0], df['working_address'][1]))
print('Token set ratio:', fuzz.token_set_ratio(df['working_address'][0], df['working_address'][1]))

Ratio: 54
Partial ratio: 66
Token sort ratio: 54
Token set ratio: 56

In [47]:
print('Ratio:', fuzz.ratio(df['working_address'][1], df['working_address'][0]))
print('Partial ratio:', fuzz.partial_ratio(df['working_address'][1], df['working_address'][0]))
print('Token sort ratio:', fuzz.token_sort_ratio(df['working_address'][1], df['working_address'][0]))
print('Token set ratio:', fuzz.token_set_ratio(df['working_address'][1], df['working_address'][0]))

Ratio: 53
Partial ratio: 66
Token sort ratio: 54
Token set ratio: 55

### rapidfuzz implimentation

In [52]:
print('Ratio:', rfuzz.ratio(df['working_address'][0], df['working_address'][1]))
print('Partial ratio:', rfuzz.partial_ratio(df['working_address'][0], df['working_address'][1]))
print('Token sort ratio:', rfuzz.token_sort_ratio(df['working_address'][0], df['working_address'][1]))
print('Token set ratio:', rfuzz.token_set_ratio(df['working_address'][0], df['working_address'][1]))

Ratio: 55.93220338983051
Partial ratio: 66.66666666666667
Token sort ratio: 55.93220338983051
Token set ratio: 61.016949152542374

In [53]:
print('Ratio:', rfuzz.ratio(df['working_address'][1], df['working_address'][0]))
print('Partial ratio:', rfuzz.partial_ratio(df['working_address'][1], df['working_address'][0]))
print('Token sort ratio:', rfuzz.token_sort_ratio(df['working_address'][1], df['working_address'][0]))
print('Token set ratio:', rfuzz.token_set_ratio(df['working_address'][1], df['working_address'][0]))

Ratio: 55.93220338983051
Partial ratio: 66.66666666666667
Token sort ratio: 55.93220338983051
Token set ratio: 61.016949152542374

### Jaro Winkler

In [54]:
print('Jaro winkler 1:', jaro.jaro_winkler_metric(df['working_address'][0], df['working_address'][1]))
print('Jaro winkler 2:', jaro.jaro_winkler_metric(df['working_address'][1], df['working_address'][0]))

Jaro winkler 1: 0.6821556579621095
Jaro winkler 2: 0.6821556579621095

In [34]:
goodmans_series = df.loc[df['working_address'].str.contains('bay corporate'), 'working_address']
goodmans_series

9                                               ground floor goodmans bay corporate ce po box n 3933 nassau bahamas
63                                               goodmans bay corporate centre west bay po box n3015 nassau bahamas
100                                     goodmans bay corporate centre po box cb10976 west bay street nassau bahamas
116                                           goodmans bay corporate centre suite 261 po box cb12762 nassau bahamas
248                              goodmans bay corporate centre po box ss5498 suite 261 west baystreetnassau bahamas
268                                                     goodmans bay corporate centre po box cb12407 nassau bahamas
548                             second  floor goodmans bay corporate centre suite 261 po box cb12762 nassau bahamas
756                                      goodman0s bay corporate centre west bay street po box n4938 nassau bahamas
758                                       goodmans bay corporate center po box n3225 west bay street nassau bahamas
759                             goodman s bay corporate center  west bay street and sea view drive  nassau  bahamas
760                                                     goodman s  bay corporate center west bay street nassau  bah
761             goodmans bay corporate centre third floor west bay street and sea view drive cb10976 nassau bahamas
762                                        goodmans bay corporate centre third floor west bay street nassau bahamas
763                                  goodmans bay corporate centre west bay street andsea view drive nassau bahamas
764                                  goodmans bay corporate centre west bay street and se view drive nassau bahamas
765                                                  goodmans bay corporate centre west bay street  nassau  bahamas
766                                                goodmans bay corporate centre west bay street nassau the bahamas
767                                         goodmans bay corporate centre west bay street po box3225 nassau bahamas
768                                       goodmans bay corporate centre west bay street po box n3225 nassau bahamas
769                                    goodmans bay corporate centre west bay street  po box n4938  nassau  bahamas
770                                     goodmans bay corporate centre west bay street  po box n4938 nassau  bahamas
771                                           goodmans bay corporate centre west bay street po n3225 nassau bahamas
1197                                                                     second floor goodmans bay corporate centre
1414                                      goodmans bay corporate centre west bay street po box n3933 nassau bahamas
1511                                      goodmans bay corporate centre west bay street po box n3933 nassau bahamas
1524                                      goodmans bay corporate center west bay street po box n4938 nassau bahamas
1610                                      goodmans bay corporate centre west bay street po box n3933 nassau bahamas
1667                                         goodmans bay corporate centre first floor west baystreetnassau bahamas
1707                                            first floor goodmans bay corporate centre bay street nassau bahamas
1789                                       co third fl goodmans bay corporate centre west bay street nassau bahamas
1800          co cotswold group goodmans bay corporate centre second floor po box cb 12762 suite 261 nassau bahamas
1975                                            ground floor goodmans bay corporate ce po box n 3933 nassau bahamas
2052                             goodmans bay corporate centre po box ss5498 suite 261 west baystreetnassau bahamas
2066                                    goodmans bay corporate centre po box cb10976 west bay street nassau bahamas
2068                                                    goodmans bay corporate centre po box cb10976 nassau bahamas
2120                                             goodmans bay corporate centre west bay po box n3015 nassau bahamas
2133    cibc trust company bahamas limited first floor goodmans bay corporate centre west bay street nassau bahamas
Name: working_address, dtype: object

In [38]:
goodmans_series.iloc[0]

'ground floor goodmans bay corporate ce po box n 3933 nassau bahamas'

### process.extract

In [43]:
process.extract(goodmans_series.iloc[0], goodmans_series, limit=10)

[('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  9),
 ('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  1975),
 ('second floor goodmans bay corporate centre', 86, 1197),
 ('co cotswold group goodmans bay corporate centre second floor po box cb 12762 suite 261 nassau bahamas',
  86,
  1800),
 ('cibc trust company bahamas limited first floor goodmans bay corporate centre west bay street nassau bahamas',
  86,
  2133),
 ('goodmans bay corporate centre po box cb12407 nassau bahamas', 81, 268),
 ('second  floor goodmans bay corporate centre suite 261 po box cb12762 nassau bahamas',
  81,
  548),
 ('goodmans bay corporate centre po box cb10976 nassau bahamas', 81, 2068),
 ('goodmans bay corporate centre west bay po box n3015 nassau bahamas',
  79,
  63),
 ('goodmans bay corporate centre west bay po box n3015 nassau bahamas',
  79,
  2120)]

In [46]:
for scorer in [fuzz.ratio, fuzz.partial_ratio, fuzz.token_sort_ratio, fuzz.token_set_ratio]:
    print(str(scorer))
    display(process.extract(goodmans_series.iloc[0], goodmans_series, scorer=scorer))
    print('\n')

<function ratio at 0x00000242A60C2940>

[('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  9),
 ('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  1975),
 ('goodmans bay corporate centre po box cb10976 nassau bahamas', 78, 2068),
 ('second  floor goodmans bay corporate centre suite 261 po box cb12762 nassau bahamas',
  77,
  548),
 ('goodmans bay corporate centre po box cb12407 nassau bahamas', 76, 268)]

<function partial_ratio at 0x00000242A60C2B80>

[('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  9),
 ('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  1975),
 ('goodmans bay corporate centre po box cb10976 nassau bahamas', 87, 2068),
 ('goodmans bay corporate centre po box cb12407 nassau bahamas', 85, 268),
 ('goodmans bay corporate centre west bay po box n3015 nassau bahamas',
  83,
  63)]

<function token_sort_ratio at 0x00000242A60C2DC0>

[('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  9),
 ('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  1975),
 ('goodmans bay corporate centre po box cb12407 nassau bahamas', 75, 268),
 ('goodmans bay corporate centre po box cb10976 nassau bahamas', 75, 2068),
 ('goodmans bay corporate centre west bay po box n3015 nassau bahamas',
  74,
  63)]

<function token_set_ratio at 0x00000242A60D1040>

[('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  9),
 ('ground floor goodmans bay corporate ce po box n 3933 nassau bahamas',
  100,
  1975),
 ('goodmans bay corporate centre po box cb12407 nassau bahamas', 85, 268),
 ('second  floor goodmans bay corporate centre suite 261 po box cb12762 nassau bahamas',
  85,
  548),
 ('co cotswold group goodmans bay corporate centre second floor po box cb 12762 suite 261 nassau bahamas',
  85,
  1800)]

### Solutioning

I'm trying to use fuzzy matching to identify and resolve duplicates.

In [ ]:
def get_set_ratio(row, str_to_match):
    name = row['address']
    return fuzz.token_set_ratio(name, str_to_match)

def get_sort_ratio(row, str_to_match):
    name = row['address']
    return fuzz.token_sort_ratio(name, str_to_match)

In [ ]:
u_addresses = df['working_address'].unique()
for u_address in u_addresses:
    df['score'] = df.apply(get_sort_ratio, args=(u_address,), axis=1)
    match_df = sm_df[sm_df['score']>80].sort_values('score', ascending=False)
    if match_df.shape[0]>1:
        print(u_address)
        display(match_df)
        print('\n')

# Fuzzy Resources

- [Fuzzing matching in pandas with fuzzywuzzy](https://jonathansoma.com/lede/algorithms-2017/classes/fuzziness-matplotlib/fuzzing-matching-in-pandas-with-fuzzywuzzy/)
- [Best Libraries for Fuzzy Matching In Python](https://medium.com/codex/best-libraries-for-fuzzy-matching-in-python-cbb3e0ef87dd)
- [Fuzzy String Matching](https://towardsdatascience.com/fuzzy-string-matching-in-python-68f240d910fe)
- [Fuzzy String Comparison](https://stackoverflow.com/a/28467760)
- [df['working_address'][1], df['working_address'][0])](https://www.geeksforgeeks.org/how-to-do-fuzzy-matching-on-pandas-dataframe-column-using-python/)
- []()