# Entry 34c notebook - Natural Language Processing (NLP) datasets

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import openml

## openml datasets

In [1]:
# openml_opts = openml.datasets.list_datasets(output_format='dataframe')
# openml_opts.head()

In [2]:
# pd.set_option('display.max_rows', 270)
# openml_opts[(openml_opts['NumberOfClasses'] == 0) & (openml_opts['NumberOfFeatures'] < 50) & ~(openml_opts['name'].str.startswith('BNG')) & ~(openml_opts['name'].str.startswith('fri_'))].sort_values('name')

In [3]:
# rabe_266 = openml.datasets.get_dataset(663).get_data()[0]
# rabe_266.head()

In [4]:
# sns.pairplot(rabe_266)

## Sklearn datasets

In [5]:
from sklearn.datasets import fetch_20newsgroups, fetch_20newsgroups_vectorized, fetch_rcv1

In [9]:
newsgroups_x = pd.DataFrame(fetch_20newsgroups()['data'])
newsgroups_y = fetch_20newsgroups()['target']

newsgroups_x.head()

                                                   0
0  From: lerxst@wam.umd.edu (where's my thing)\nS...
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...

In [ ]:
fetch_20newsgroups_vectorized()

In [11]:
newsgroups_vect_x = pd.DataFrame(fetch_20newsgroups_vectorized()['data'])
newsgroups_vect_y = fetch_20newsgroups_vectorized()['target']

newsgroups_vect_x.head()

                                                   0
0    (0, 5022)\t0.017109647770728872\n  (0, 5886)...
1    (0, 2336)\t0.07009996372327816\n  (0, 3918)\...
2    (0, 5043)\t0.042257712736425826\n  (0, 6511)...
3    (0, 2337)\t0.020747959668163396\n  (0, 5022)...
4    (0, 3802)\t0.06468462273531508\n  (0, 8553)\...

In [12]:
rcv1_x = pd.DataFrame(fetch_rcv1()['data'], columns=fetch_rcv1()['feature_names'])
rcv1_y = fetch_rcv1()['target']

rcv1_x.head()

Downloading https://ndownloader.figshare.com/files/5976069
Downloading https://ndownloader.figshare.com/files/5976066
Downloading https://ndownloader.figshare.com/files/5976063
Downloading https://ndownloader.figshare.com/files/5976060
Downloading https://ndownloader.figshare.com/files/5976057
Downloading https://ndownloader.figshare.com/files/5976048

KeyError: 'feature_names'