# Entry 21 notebook - Baseline Model

In [1]:
import pandas as pd
import numpy as np

from sklearn.dummy import DummyRegressor, DummyClassifier
from sklearn.model_selection import train_test_split

## Regression

In [54]:
df_raw = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', header=None, sep='\t')
cols = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_yr', 'origin']
df_raw = df_raw[0].str.split(expand=True)
df_raw.columns = cols

df_raw[df_raw['horsepower']=='?'] = np.nan
df_raw.dropna(inplace=True)
df = df_raw.astype(float)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_yr,origin
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0

In [52]:
y = df['mpg']
X = df.drop('mpg', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12)
X_train.head()

,cylinders,displacement,horsepower,weight,acceleration,model_yr,origin
244,4.0,90.0,48.0,1985.0,21.5,78.0,2.0
333,6.0,168.0,132.0,2910.0,11.4,80.0,3.0
305,4.0,151.0,90.0,2670.0,16.0,79.0,1.0
208,8.0,318.0,150.0,3940.0,13.2,76.0,1.0
371,4.0,135.0,84.0,2525.0,16.0,82.0,1.0

In [53]:
dummy = DummyRegressor(strategy='mean')
dummy.fit(X_train, y_train)
dummy.score(X_test, y_test)

-0.03701267059018276

## Classification

In [56]:
col_names = ['class', 'cap_shape', 'cap_surface', 'cap_color', 'bruises', 'odor',
             'gill_attachment', 'gill_spacing', 'gill_size', 'gill_color',
             'stalk_shape', 'stalk_root', 'stalk_surface_above_ring', 'stalk_surface_below_ring',
             'stalk_color_above_ring', 'stalk_color_below_ring',
             'veil_type', 'veil_color', 'ring_number', 'ring_type',
             'spore_print_color', 'population', 'habitat']
mushrooms_raw = pd.read_csv('../data/expanded.csv', header=None, names=col_names).dropna()

y = mushrooms_raw['class'].astype('category').cat.rename_categories({'EDIBLE':1, 'POISONOUS':0})
X = mushrooms_raw.drop('class', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12)
dummy = DummyClassifier(strategy='uniform', random_state=12)
dummy.fit(X_train, y_train)
dummy.score(X_test, y_test)

0.48574144486692017